# Enrichment of regulons from Regulons_by_strain

In [1]:
import os
import sys
from importlib import reload

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.insert(0,module_path)

import pandas as pd
from IPython.display import display

from orangecontrib.bioinformatics.geneset.__init__ import list_all

import jupyter_functions as jf
reload(jf)
import jupyter_functions as jf
from functionsDENet import loadPickle, savePickle
import stages_DE.enrichment_library as enr
reload(enr)
import stages_DE.enrichment_library as enr

In [2]:
#Path for mergedGenes_RPKUM.tsv
dataPath='/home/karin/Documents/timeTrajectories/data/RPKUM/combined/'
#Path for 
pathRegulons='/home/karin/Documents/timeTrajectories/data/regulons/by_strain/kN300_mean0std1_log/'

## Used gene sets
Use gene sets that do not have less than 5 or more than 500 genes. Use all ontologies.

In [3]:
# Get all gene sets
gene_sets=list(list_all(organism='44689'))
GENE_SETS_ONTOLOGY=enr.get_gene_sets(gene_set_names=gene_sets, go_slims=True,set_sizes=(5,500))

In [4]:
# For conversion of gene names to EID
genes = pd.read_csv(dataPath + 'mergedGenes_RPKUM.tsv', sep='\t', index_col=0)
all_gene_names= genes[(genes != 0).any(axis=1)].index
NAME_EID=enr.name_genes_entrez(gene_names=all_gene_names, key_entrez=False)
ALL_GENE_NAMES_EID=enr.convert_EID(genes=all_gene_names, name_EID=NAME_EID)

In [5]:
def group_diff_enrichment(data:pd.DataFrame,group:str,padj:float=0.25,min_overlap:int=None,
                          use_annotated_genes:bool=False):
    #Displays only gene sets that have overlap with query greater or equal to min_overlap 
    #For p value and padj calculation uses alll that have overlap >=1 } from gene_set_enrichment
    """
    :param use_annotated_genes: if True use for reference and query  only genes that have at 
    least one gene set annotation
    """
    selected=list(data[data['Cluster']==group].index)
    query_EID=enr.convert_EID(genes=selected, name_EID=NAME_EID)
    print('***  '+group+' selected:',len(selected),'with EID:',len(query_EID))
    
    reference_gene_eids=ALL_GENE_NAMES_EID.copy()
    query_eids=query_EID.copy()
    
    if use_annotated_genes:
        gene_sets_genes=set()
        for gene_set_name, gene_sets in GENE_SETS_ONTOLOGY.items():
            for gene_set in gene_sets:
                gene_sets_genes.update(gene_set.genes)
        reference_gene_eids=set(reference_gene_eids) & gene_sets_genes
        query_eids=set(query_eids) & gene_sets_genes
        print('Ratio of genes annotated with a gene set in reference',
              round(len(reference_gene_eids)/len(ALL_GENE_NAMES_EID),2),
             'and query',round(len(query_eids)/len(query_EID),2))
    
    result=None
    if len(query_eids) > 0:
        enrichment=enr.gene_set_enrichment(query_eids, reference_EID=reference_gene_eids, 
                                                padj_threshold=padj,min_overlap=min_overlap,
                                                gene_sets_ontology=GENE_SETS_ONTOLOGY)
        query_in_enriched=set()
        if len(enrichment)>0:
            enrichment_display=list()
            enrichment= sorted(enrichment, key=lambda data: data.padj)
            for enriched in enrichment:
                query_in_enriched.update(enriched.gene_set.genes & query_eids)
                enrichment_display.append({'Gene set':enriched.gene_set.name,'Ontology':enriched.ontology,
                                           'FDR':"{:.2e}".format(enriched.padj),'N in query':enriched.in_query})
            result=pd.DataFrame(enrichment_display)
    print('Enrichment at FDR: '+str(padj)+' and min query - gene set overlap',str(min_overlap))
    print('N query genes in displayed gene sets:',len(query_in_enriched),'out of', len(query_eids),
          'query genes used for enrichment calculation.')
    display(result)
    return result

## Enrichment reports

In [11]:
save_enrichment=False

### Enrichment for expression_minExpressed0.990.1Strains1Min1Max18_clustersLouvain0.4minmaxNologPCA30kN30.pdf

In [6]:
regulons=pd.read_table(pathRegulons+'mergedGenes_minExpressed0.990.1Strains1Min1Max18_clustersLouvain0.4minmaxNologPCA30kN30.tab',index_col=0)
for group in range(1,len(regulons['Cluster'].unique())+1):
    enriched=group_diff_enrichment(data=regulons,group='C'+str(group),min_overlap=2)
    if save_enrichment and enriched is not None:
        enriched.to_csv(pathRegulons+'enrichment/minExpressed0.990.1Strains1Min1Max18_clustersLouvain0.4minmaxNologPCA30kN30_enrichment_cluster'+str(group)+'.tsv', sep='\t',index=False)

***  C1 selected: 91 with EID: 91
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 34 out of 91 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell wall,"(GO, cellular_component)",8.23e-11,7
1,external encapsulating structure,"(GO, cellular_component)",8.23e-11,7
2,aberrant spore coat morphology,"(Dictybase, Phenotypes)",4.29e-09,6
3,anatomical structure formation involved in mor...,"(GO, biological_process)",8.53e-08,9
4,cell wall organization or biogenesis,"(GO, biological_process)",1.17e-06,5
5,cell differentiation,"(GO, biological_process)",1.85e-06,10
6,anatomical structure development,"(GO, biological_process)",2.58e-04,13
7,abolished cellulose binding,"(Dictybase, Phenotypes)",7.13e-04,2
8,Starch and sucrose metabolism,"(KEGG, Pathways)",8.81e-04,4
9,abolished stalk cell differentiation,"(Dictybase, Phenotypes)",1.06e-02,2
10,extracellular region,"(GO, cellular_component)",1.06e-02,6
11,Metabolic pathways,"(KEGG, Pathways)",2.69e-02,12
12,carbohydrate metabolic process,"(GO, biological_process)",3.02e-02,4
13,cellular component assembly,"(GO, biological_process)",3.21e-02,6
14,DNA binding,"(GO, molecular_function)",4.02e-02,6
15,decreased spore viability,"(Dictybase, Phenotypes)",6.21e-02,3
16,Glutathione metabolism,"(KEGG, Pathways)",8.20e-02,2
17,abolished sporulation,"(Dictybase, Phenotypes)",8.20e-02,2
18,aberrant culmination,"(Dictybase, Phenotypes)",1.29e-01,3

***  C2 selected: 77 with EID: 77
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 13 out of 77 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell differentiation,"(GO, biological_process)",2.82e-03,7
1,reproduction,"(GO, biological_process)",6.79e-02,4
2,Starch and sucrose metabolism,"(KEGG, Pathways)",1.01e-01,2
3,anatomical structure development,"(GO, biological_process)",1.01e-01,7
4,cell adhesion,"(GO, biological_process)",1.01e-01,3
5,decreased sporulation,"(Dictybase, Phenotypes)",1.44e-01,2
6,development arrests at mound stage,"(Dictybase, Phenotypes)",1.44e-01,2
7,abolished culmination,"(Dictybase, Phenotypes)",1.66e-01,2
8,delayed aggregation,"(Dictybase, Phenotypes)",2.00e-01,2
9,anatomical structure formation involved in mor...,"(GO, biological_process)",2.00e-01,2

***  C3 selected: 74 with EID: 74
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 24 out of 74 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,anatomical structure development,"(GO, biological_process)",4.02e-06,15
1,cell adhesion,"(GO, biological_process)",7.99e-03,5
2,development arrests at loose mound stage,"(Dictybase, Phenotypes)",8.56e-03,3
3,extracellular region,"(GO, cellular_component)",1.06e-02,6
4,Glycosaminoglycan degradation,"(KEGG, Pathways)",1.23e-02,2
5,decreased fruiting body size,"(Dictybase, Phenotypes)",1.36e-02,4
6,decreased aggregate size,"(Dictybase, Phenotypes)",1.36e-02,3
7,increased slug migration,"(Dictybase, Phenotypes)",1.36e-02,2
8,response to stress,"(GO, biological_process)",1.36e-02,8
9,signal transduction,"(GO, biological_process)",1.36e-02,8
10,multiple tips in mound,"(Dictybase, Phenotypes)",3.90e-02,2
11,aberrant aggregation,"(Dictybase, Phenotypes)",3.90e-02,3
12,plasma membrane,"(GO, cellular_component)",3.90e-02,6
13,locomotion,"(GO, biological_process)",3.90e-02,5
14,abolished gene expression,"(Dictybase, Phenotypes)",6.00e-02,2
15,cell differentiation,"(GO, biological_process)",6.08e-02,4
16,precocious development,"(Dictybase, Phenotypes)",6.33e-02,2
17,decreased gene expression,"(Dictybase, Phenotypes)",6.95e-02,3
18,decreased chemotaxis rate,"(Dictybase, Phenotypes)",8.18e-02,2
19,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",8.18e-02,3
20,aberrant F-actin organization,"(Dictybase, Phenotypes)",8.18e-02,2
21,cell motility,"(GO, biological_process)",1.55e-01,2
22,decreased cell motility,"(Dictybase, Phenotypes)",1.62e-01,2
23,abolished aggregation,"(Dictybase, Phenotypes)",1.71e-01,2
24,cytoskeleton,"(GO, cellular_component)",1.94e-01,3
25,cytoskeleton organization,"(GO, biological_process)",2.07e-01,3
26,wild type,"(Dictybase, Phenotypes)",2.42e-01,4

***  C4 selected: 74 with EID: 74
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 8 out of 74 query genes used for enrichment calculation.

               Gene set                  Ontology       FDR  N in query
0  extracellular region  (GO, cellular_component)  1.60e-04           8

***  C5 selected: 68 with EID: 68
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 65 out of 68 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome,"(KEGG, Pathways)",6.41e-126,60
1,ribosome,"(GO, cellular_component)",1.47e-124,59
2,structural constituent of ribosome,"(GO, molecular_function)",8.17e-109,53
3,structural molecule activity,"(GO, molecular_function)",1.72e-98,53
4,translation,"(GO, biological_process)",5.92e-86,52
5,RNA binding,"(GO, molecular_function)",2.97e-15,16
6,rRNA binding,"(GO, molecular_function)",8.86e-13,7
7,cytosol,"(GO, cellular_component)",5.69e-05,8
8,ribosome biogenesis,"(GO, biological_process)",1.68e-02,3
9,delayed development,"(Dictybase, Phenotypes)",1.62e-01,2
10,transmembrane transporter activity,"(GO, molecular_function)",1.62e-01,3
11,transmembrane transport,"(GO, biological_process)",1.80e-01,3

***  C6 selected: 66 with EID: 65
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 34 out of 65 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Oxidative phosphorylation,"(KEGG, Pathways)",6.98e-10,9
1,Metabolic pathways,"(KEGG, Pathways)",2.55e-08,19
2,mitochondrion,"(GO, cellular_component)",8.07e-05,9
3,Citrate cycle (TCA cycle),"(KEGG, Pathways)",3.90e-04,4
4,Phagosome,"(KEGG, Pathways)",3.28e-03,4
5,Biosynthesis of antibiotics,"(KEGG, Pathways)",4.92e-03,6
6,cytoplasmic vesicle,"(GO, cellular_component)",8.95e-03,6
7,generation of precursor metabolites and energy,"(GO, biological_process)",9.24e-03,4
8,protein folding,"(GO, biological_process)",1.03e-02,3
9,aberrant cellular response to stress,"(Dictybase, Phenotypes)",1.31e-02,2
10,Ribosome,"(KEGG, Pathways)",1.38e-02,4
11,Various types of N-glycan biosynthesis,"(KEGG, Pathways)",4.42e-02,2
12,cell morphogenesis,"(GO, biological_process)",4.46e-02,2
13,Biosynthesis of secondary metabolites,"(KEGG, Pathways)",5.06e-02,5
14,transmembrane transporter activity,"(GO, molecular_function)",5.06e-02,4
15,unfolded protein binding,"(GO, molecular_function)",5.06e-02,2
16,N-Glycan biosynthesis,"(KEGG, Pathways)",5.72e-02,2
17,Propanoate metabolism,"(KEGG, Pathways)",5.80e-02,2
18,transmembrane transport,"(GO, biological_process)",5.80e-02,4
19,Carbon metabolism,"(KEGG, Pathways)",6.77e-02,3
20,aberrant cell morphology,"(Dictybase, Phenotypes)",7.68e-02,2
21,cytosol,"(GO, cellular_component)",7.70e-02,4
22,oxidoreductase activity,"(GO, molecular_function)",8.53e-02,4
23,vacuole,"(GO, cellular_component)",9.38e-02,3
24,aberrant streaming,"(Dictybase, Phenotypes)",1.50e-01,2
25,ligase activity,"(GO, molecular_function)",1.62e-01,2
26,Protein processing in endoplasmic reticulum,"(KEGG, Pathways)",1.86e-01,2
27,aberrant cytokinesis,"(Dictybase, Phenotypes)",2.07e-01,2
28,mitotic cell cycle,"(GO, biological_process)",2.09e-01,2
29,small molecule metabolic process,"(GO, biological_process)",2.30e-01,4
30,cell division,"(GO, biological_process)",2.46e-01,2

***  C7 selected: 64 with EID: 64
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 4 out of 64 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,aberrant cell-cell adhesion,"(Dictybase, Phenotypes)",4.46e-03,2
1,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",1.95e-01,2

***  C8 selected: 61 with EID: 59
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 0 out of 59 query genes used for enrichment calculation.

None

***  C9 selected: 58 with EID: 58
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 9 out of 58 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,extracellular region,"(GO, cellular_component)",8.13e-02,4
1,cell adhesion,"(GO, biological_process)",8.13e-02,3
2,hydrolase activity,"(GO, molecular_function)",1.13e-01,2
3,cell differentiation,"(GO, biological_process)",1.59e-01,3
4,anatomical structure formation involved in mor...,"(GO, biological_process)",1.76e-01,2

***  C10 selected: 57 with EID: 57
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 9 out of 57 query genes used for enrichment calculation.

                    Gene set                  Ontology       FDR  N in query
0       extracellular region  (GO, cellular_component)  3.59e-04           7
1        cell-cell signaling  (GO, biological_process)  3.72e-02           2
2  decreased spore viability   (Dictybase, Phenotypes)  1.87e-01           2
3         peptidase activity  (GO, molecular_function)  2.07e-01           2

***  C11 selected: 55 with EID: 55
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 21 out of 55 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cytoskeletal protein binding,"(GO, molecular_function)",5.97e-08,10
1,Endocytosis,"(KEGG, Pathways)",3.98e-04,5
2,cytoskeleton organization,"(GO, biological_process)",2.93e-03,6
3,cellular component assembly,"(GO, biological_process)",3.03e-03,6
4,protein-containing complex assembly,"(GO, biological_process)",3.40e-03,5
5,response to stress,"(GO, biological_process)",5.74e-03,7
6,cytoskeleton,"(GO, cellular_component)",7.78e-03,5
7,cytoplasmic vesicle,"(GO, cellular_component)",5.33e-02,4
8,cytosol,"(GO, cellular_component)",5.33e-02,4
9,plasma membrane,"(GO, cellular_component)",1.06e-01,4
10,decreased cell motility,"(Dictybase, Phenotypes)",1.48e-01,2
11,wild type,"(Dictybase, Phenotypes)",1.62e-01,4
12,vesicle-mediated transport,"(GO, biological_process)",1.71e-01,3

***  C12 selected: 54 with EID: 54
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 4 out of 54 query genes used for enrichment calculation.

                    Gene set                 Ontology       FDR  N in query
0                  Phagosome         (KEGG, Pathways)  2.50e-01           2
1  decreased spore viability  (Dictybase, Phenotypes)  2.50e-01           2

***  C13 selected: 46 with EID: 45
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 10 out of 45 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,extracellular region,"(GO, cellular_component)",4.97e-04,6
1,anatomical structure formation involved in mor...,"(GO, biological_process)",2.82e-02,3
2,cell differentiation,"(GO, biological_process)",1.21e-01,3
3,oxidoreductase activity,"(GO, molecular_function)",1.52e-01,3

***  C14 selected: 45 with EID: 45
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 0 out of 45 query genes used for enrichment calculation.

None

***  C15 selected: 41 with EID: 41
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 38 out of 41 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Proteasome,"(KEGG, Pathways)",2.80e-69,29
1,peptidase activity,"(GO, molecular_function)",7.55e-34,21
2,catabolic process,"(GO, biological_process)",6.87e-32,25
3,response to stress,"(GO, biological_process)",3.73e-02,5
4,enzyme regulator activity,"(GO, molecular_function)",3.73e-02,3
5,ATPase activity,"(GO, molecular_function)",8.27e-02,3
6,Protein processing in endoplasmic reticulum,"(KEGG, Pathways)",1.35e-01,2

***  C16 selected: 40 with EID: 40
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 13 out of 40 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,aberrant CRAC localization to the plasma membrane,"(Dictybase, Phenotypes)",1.48e-02,2
1,development arrests at tipped mound stage,"(Dictybase, Phenotypes)",1.61e-02,2
2,translucent sorus,"(Dictybase, Phenotypes)",1.61e-02,2
3,decreased intracellular cAMP level,"(Dictybase, Phenotypes)",1.61e-02,2
4,anatomical structure development,"(GO, biological_process)",3.14e-02,6
5,cell death,"(GO, biological_process)",3.14e-02,2
6,anatomical structure formation involved in mor...,"(GO, biological_process)",3.14e-02,3
7,kinase activity,"(GO, molecular_function)",3.44e-02,5
8,RNA degradation,"(KEGG, Pathways)",4.88e-02,2
9,cell differentiation,"(GO, biological_process)",4.88e-02,3
10,aberrant aggregation,"(Dictybase, Phenotypes)",4.89e-02,2
11,decreased chemotaxis to cAMP,"(Dictybase, Phenotypes)",4.93e-02,2
12,locomotion,"(GO, biological_process)",5.82e-02,3
13,decreased fruiting body size,"(Dictybase, Phenotypes)",5.92e-02,2
14,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",8.02e-02,2
15,wild type,"(Dictybase, Phenotypes)",1.48e-01,3
16,cytoskeleton,"(GO, cellular_component)",1.75e-01,2
17,DNA binding,"(GO, molecular_function)",2.14e-01,2

***  C17 selected: 36 with EID: 36
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 18 out of 36 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell cycle,"(GO, biological_process)",2.31e-14,13
1,chromosome segregation,"(GO, biological_process)",1.37e-10,6
2,mitotic nuclear division,"(GO, biological_process)",5.90e-09,5
3,chromosome organization,"(GO, biological_process)",1.74e-08,7
4,mitotic cell cycle,"(GO, biological_process)",9.72e-08,7
5,DNA replication,"(KEGG, Pathways)",1.92e-07,5
6,cell division,"(GO, biological_process)",1.92e-07,7
7,chromosome,"(GO, cellular_component)",2.17e-07,6
8,cytoskeleton,"(GO, cellular_component)",3.71e-06,7
9,cytoskeleton organization,"(GO, biological_process)",9.01e-04,5
10,microtubule organizing center,"(GO, cellular_component)",1.41e-03,3
11,cytoskeletal protein binding,"(GO, molecular_function)",3.43e-03,4
12,DNA metabolic process,"(GO, biological_process)",7.24e-02,2
13,ATPase activity,"(GO, molecular_function)",1.41e-01,2
14,plasma membrane,"(GO, cellular_component)",2.32e-01,2

***  C18 selected: 30 with EID: 30
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 20 out of 30 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome biogenesis in eukaryotes,"(KEGG, Pathways)",3.61e-19,12
1,nucleolus,"(GO, cellular_component)",4.81e-17,11
2,ribosome biogenesis,"(GO, biological_process)",5.97e-16,10
3,ribonucleoprotein complex assembly,"(GO, biological_process)",5.35e-07,4
4,RNA binding,"(GO, molecular_function)",8.44e-06,6
5,protein-containing complex assembly,"(GO, biological_process)",1.00e-03,4
6,rRNA binding,"(GO, molecular_function)",1.00e-03,2
7,cellular component assembly,"(GO, biological_process)",3.00e-03,4
8,helicase activity,"(GO, molecular_function)",1.20e-02,2
9,methyltransferase activity,"(GO, molecular_function)",1.30e-02,2
10,ATPase activity,"(GO, molecular_function)",7.78e-02,2

***  C19 selected: 23 with EID: 23
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 3 out of 23 query genes used for enrichment calculation.

          Gene set                  Ontology       FDR  N in query
0  kinase activity  (GO, molecular_function)  1.10e-01           3

***  C20 selected: 20 with EID: 20
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 0 out of 20 query genes used for enrichment calculation.

None

***  C21 selected: 19 with EID: 19
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 0 out of 19 query genes used for enrichment calculation.

None

#### Using only genes annotated with at least one gene set 
To find genes that have gene set annotations only gene sets used in enrichment are used (see above). Genes that are in at least one of these gene sets are used for enrichment calculation, both for reference and gene group of interest (query).

In [7]:
regulons=pd.read_table(pathRegulons+'mergedGenes_minExpressed0.990.1Strains1Min1Max18_clustersLouvain0.4minmaxNologPCA30kN30.tab',index_col=0)
for group in range(1,len(regulons['Cluster'].unique())+1):
    enriched=group_diff_enrichment(data=regulons,group='C'+str(group),min_overlap=2,use_annotated_genes=True)
    if  save_enrichment and enriched is not None:
        enriched.to_csv(pathRegulons+'enrichment/minExpressed0.990.1Strains1Min1Max18_clustersLouvain0.4minmaxNologPCA30kN30_annotatedOnly_enrichment_cluster'+str(group)+'.tsv', sep='\t',index=False)

***  C1 selected: 91 with EID: 91
Ratio of genes annotated with a gene set in reference 0.32 and query 0.45
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 34 out of 41 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell wall,"(GO, cellular_component)",6.81e-10,7
1,external encapsulating structure,"(GO, cellular_component)",6.81e-10,7
2,aberrant spore coat morphology,"(Dictybase, Phenotypes)",2.74e-08,6
3,anatomical structure formation involved in mor...,"(GO, biological_process)",1.03e-06,9
4,cell wall organization or biogenesis,"(GO, biological_process)",5.66e-06,5
5,cell differentiation,"(GO, biological_process)",2.53e-05,10
6,abolished cellulose binding,"(Dictybase, Phenotypes)",1.61e-03,2
7,Starch and sucrose metabolism,"(KEGG, Pathways)",3.46e-03,4
8,anatomical structure development,"(GO, biological_process)",3.50e-03,13
9,abolished stalk cell differentiation,"(Dictybase, Phenotypes)",2.28e-02,2
10,extracellular region,"(GO, cellular_component)",5.16e-02,6
11,carbohydrate metabolic process,"(GO, biological_process)",1.03e-01,4
12,cellular component assembly,"(GO, biological_process)",1.55e-01,6
13,Glutathione metabolism,"(KEGG, Pathways)",1.61e-01,2
14,abolished sporulation,"(Dictybase, Phenotypes)",1.61e-01,2
15,decreased spore viability,"(Dictybase, Phenotypes)",1.61e-01,3
16,DNA binding,"(GO, molecular_function)",1.61e-01,6
17,Metabolic pathways,"(KEGG, Pathways)",1.64e-01,12
18,aberrant culmination,"(Dictybase, Phenotypes)",2.29e-01,3

***  C2 selected: 77 with EID: 77
Ratio of genes annotated with a gene set in reference 0.32 and query 0.29
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 15 out of 22 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell differentiation,"(GO, biological_process)",7.48e-04,7
1,reproduction,"(GO, biological_process)",6.08e-02,4
2,anatomical structure development,"(GO, biological_process)",7.24e-02,7
3,cell adhesion,"(GO, biological_process)",8.83e-02,3
4,Starch and sucrose metabolism,"(KEGG, Pathways)",9.08e-02,2
5,decreased sporulation,"(Dictybase, Phenotypes)",1.20e-01,2
6,development arrests at mound stage,"(Dictybase, Phenotypes)",1.20e-01,2
7,abolished culmination,"(Dictybase, Phenotypes)",1.38e-01,2
8,delayed aggregation,"(Dictybase, Phenotypes)",1.69e-01,2
9,anatomical structure formation involved in mor...,"(GO, biological_process)",1.72e-01,2
10,cytoskeleton organization,"(GO, biological_process)",2.18e-01,3
11,peptidase activity,"(GO, molecular_function)",2.18e-01,2
12,cellular component assembly,"(GO, biological_process)",2.31e-01,3
13,wild type,"(Dictybase, Phenotypes)",2.43e-01,4

***  C3 selected: 74 with EID: 74
Ratio of genes annotated with a gene set in reference 0.32 and query 0.42
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 24 out of 31 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,anatomical structure development,"(GO, biological_process)",2.37e-05,15
1,development arrests at loose mound stage,"(Dictybase, Phenotypes)",1.80e-02,3
2,cell adhesion,"(GO, biological_process)",1.80e-02,5
3,Glycosaminoglycan degradation,"(KEGG, Pathways)",2.59e-02,2
4,extracellular region,"(GO, cellular_component)",2.86e-02,6
5,decreased aggregate size,"(Dictybase, Phenotypes)",3.15e-02,3
6,increased slug migration,"(Dictybase, Phenotypes)",3.15e-02,2
7,decreased fruiting body size,"(Dictybase, Phenotypes)",3.80e-02,4
8,response to stress,"(GO, biological_process)",5.49e-02,8
9,signal transduction,"(GO, biological_process)",5.49e-02,8
10,multiple tips in mound,"(Dictybase, Phenotypes)",6.64e-02,2
11,abolished gene expression,"(Dictybase, Phenotypes)",8.57e-02,2
12,aberrant aggregation,"(Dictybase, Phenotypes)",8.57e-02,3
13,plasma membrane,"(GO, cellular_component)",8.57e-02,6
14,locomotion,"(GO, biological_process)",8.57e-02,5
15,precocious development,"(Dictybase, Phenotypes)",1.09e-01,2
16,cell differentiation,"(GO, biological_process)",1.16e-01,4
17,decreased gene expression,"(Dictybase, Phenotypes)",1.17e-01,3
18,decreased chemotaxis rate,"(Dictybase, Phenotypes)",1.17e-01,2
19,aberrant F-actin organization,"(Dictybase, Phenotypes)",1.20e-01,2
20,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",1.32e-01,3
21,cell motility,"(GO, biological_process)",2.12e-01,2
22,decreased cell motility,"(Dictybase, Phenotypes)",2.42e-01,2

***  C4 selected: 74 with EID: 74
Ratio of genes annotated with a gene set in reference 0.32 and query 0.23
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 15 out of 17 query genes used for enrichment calculation.

                    Gene set                  Ontology       FDR  N in query
0       extracellular region  (GO, cellular_component)  3.67e-06           8
1                  wild type   (Dictybase, Phenotypes)  1.42e-01           5
2  decreased gene expression   (Dictybase, Phenotypes)  2.08e-01           2
3  decreased spore viability   (Dictybase, Phenotypes)  2.08e-01           2
4                DNA binding  (GO, molecular_function)  2.15e-01           3

***  C5 selected: 68 with EID: 68
Ratio of genes annotated with a gene set in reference 0.32 and query 0.97
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 62 out of 66 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome,"(KEGG, Pathways)",6.55e-98,60
1,ribosome,"(GO, cellular_component)",6.07e-97,59
2,structural constituent of ribosome,"(GO, molecular_function)",9.42e-84,53
3,structural molecule activity,"(GO, molecular_function)",1.86e-73,53
4,translation,"(GO, biological_process)",2.02e-61,52
5,rRNA binding,"(GO, molecular_function)",2.37e-09,7
6,RNA binding,"(GO, molecular_function)",3.80e-08,16
7,cytosol,"(GO, cellular_component)",7.48e-02,8

***  C6 selected: 66 with EID: 65
Ratio of genes annotated with a gene set in reference 0.32 and query 0.58
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 34 out of 38 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Oxidative phosphorylation,"(KEGG, Pathways)",9.41e-08,9
1,Metabolic pathways,"(KEGG, Pathways)",8.64e-05,19
2,Citrate cycle (TCA cycle),"(KEGG, Pathways)",5.09e-03,4
3,mitochondrion,"(GO, cellular_component)",5.11e-03,9
4,Phagosome,"(KEGG, Pathways)",2.99e-02,4
5,Biosynthesis of antibiotics,"(KEGG, Pathways)",6.94e-02,6
6,aberrant cellular response to stress,"(Dictybase, Phenotypes)",6.94e-02,2
7,generation of precursor metabolites and energy,"(GO, biological_process)",6.94e-02,4
8,protein folding,"(GO, biological_process)",6.94e-02,3
9,Ribosome,"(KEGG, Pathways)",1.11e-01,4
10,cytoplasmic vesicle,"(GO, cellular_component)",1.11e-01,6
11,Various types of N-glycan biosynthesis,"(KEGG, Pathways)",1.40e-01,2
12,cell morphogenesis,"(GO, biological_process)",1.40e-01,2
13,unfolded protein binding,"(GO, molecular_function)",1.62e-01,2
14,N-Glycan biosynthesis,"(KEGG, Pathways)",1.77e-01,2
15,Propanoate metabolism,"(KEGG, Pathways)",1.81e-01,2
16,aberrant cell morphology,"(Dictybase, Phenotypes)",2.41e-01,2
17,transmembrane transporter activity,"(GO, molecular_function)",2.41e-01,4

***  C7 selected: 64 with EID: 64
Ratio of genes annotated with a gene set in reference 0.32 and query 0.16
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 6 out of 10 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,aberrant cell-cell adhesion,"(Dictybase, Phenotypes)",9.86e-04,2
1,anatomical structure development,"(GO, biological_process)",5.72e-02,4
2,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",5.90e-02,2
3,extracellular region,"(GO, cellular_component)",9.93e-02,2

***  C8 selected: 61 with EID: 59
Ratio of genes annotated with a gene set in reference 0.32 and query 0.19
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 6 out of 11 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,anatomical structure development,"(GO, biological_process)",2.08e-01,4
1,wild type,"(Dictybase, Phenotypes)",2.24e-01,3
2,extracellular region,"(GO, cellular_component)",2.24e-01,2

***  C9 selected: 58 with EID: 58
Ratio of genes annotated with a gene set in reference 0.32 and query 0.21
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 9 out of 12 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,extracellular region,"(GO, cellular_component)",2.26e-02,4
1,cell adhesion,"(GO, biological_process)",2.26e-02,3
2,cell differentiation,"(GO, biological_process)",4.40e-02,3
3,hydrolase activity,"(GO, molecular_function)",4.40e-02,2
4,anatomical structure formation involved in mor...,"(GO, biological_process)",8.85e-02,2

***  C10 selected: 57 with EID: 57
Ratio of genes annotated with a gene set in reference 0.32 and query 0.25
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 11 out of 14 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,extracellular region,"(GO, cellular_component)",1.89e-05,7
1,cell-cell signaling,"(GO, biological_process)",2.11e-02,2
2,decreased spore viability,"(Dictybase, Phenotypes)",1.20e-01,2
3,peptidase activity,"(GO, molecular_function)",1.42e-01,2
4,plasma membrane,"(GO, cellular_component)",1.70e-01,3
5,anatomical structure development,"(GO, biological_process)",1.70e-01,4

***  C11 selected: 55 with EID: 55
Ratio of genes annotated with a gene set in reference 0.32 and query 0.44
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 18 out of 24 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cytoskeletal protein binding,"(GO, molecular_function)",3.76e-07,10
1,Endocytosis,"(KEGG, Pathways)",1.41e-03,5
2,cellular component assembly,"(GO, biological_process)",1.15e-02,6
3,protein-containing complex assembly,"(GO, biological_process)",1.15e-02,5
4,cytoskeleton organization,"(GO, biological_process)",1.15e-02,6
5,response to stress,"(GO, biological_process)",2.49e-02,7
6,cytoskeleton,"(GO, cellular_component)",2.55e-02,5
7,cytoplasmic vesicle,"(GO, cellular_component)",1.32e-01,4
8,cytosol,"(GO, cellular_component)",1.32e-01,4
9,decreased cell motility,"(Dictybase, Phenotypes)",2.33e-01,2
10,plasma membrane,"(GO, cellular_component)",2.33e-01,4

***  C12 selected: 54 with EID: 54
Ratio of genes annotated with a gene set in reference 0.32 and query 0.2
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 4 out of 11 query genes used for enrichment calculation.

                    Gene set                 Ontology       FDR  N in query
0                  Phagosome         (KEGG, Pathways)  1.60e-01           2
1  decreased spore viability  (Dictybase, Phenotypes)  1.60e-01           2

***  C13 selected: 46 with EID: 45
Ratio of genes annotated with a gene set in reference 0.32 and query 0.33
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 10 out of 15 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,extracellular region,"(GO, cellular_component)",3.26e-04,6
1,anatomical structure formation involved in mor...,"(GO, biological_process)",2.85e-02,3
2,cell differentiation,"(GO, biological_process)",1.24e-01,3
3,oxidoreductase activity,"(GO, molecular_function)",1.60e-01,3

***  C14 selected: 45 with EID: 45
Ratio of genes annotated with a gene set in reference 0.32 and query 0.13
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 3 out of 6 query genes used for enrichment calculation.

             Gene set                  Ontology       FDR  N in query
0             cytosol  (GO, cellular_component)  2.35e-01           2
1  response to stress  (GO, biological_process)  2.43e-01           2

***  C15 selected: 41 with EID: 41
Ratio of genes annotated with a gene set in reference 0.32 and query 0.98
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 35 out of 40 query genes used for enrichment calculation.

             Gene set                  Ontology       FDR  N in query
0          Proteasome          (KEGG, Pathways)  2.20e-55          29
1  peptidase activity  (GO, molecular_function)  8.26e-24          21
2   catabolic process  (GO, biological_process)  4.25e-20          25

***  C16 selected: 40 with EID: 40
Ratio of genes annotated with a gene set in reference 0.32 and query 0.38
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 12 out of 15 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,aberrant CRAC localization to the plasma membrane,"(Dictybase, Phenotypes)",1.96e-02,2
1,development arrests at tipped mound stage,"(Dictybase, Phenotypes)",2.13e-02,2
2,translucent sorus,"(Dictybase, Phenotypes)",2.13e-02,2
3,decreased intracellular cAMP level,"(Dictybase, Phenotypes)",2.13e-02,2
4,anatomical structure development,"(GO, biological_process)",3.76e-02,6
5,cell death,"(GO, biological_process)",3.76e-02,2
6,anatomical structure formation involved in mor...,"(GO, biological_process)",3.76e-02,3
7,kinase activity,"(GO, molecular_function)",5.08e-02,5
8,RNA degradation,"(KEGG, Pathways)",5.74e-02,2
9,cell differentiation,"(GO, biological_process)",5.74e-02,3
10,aberrant aggregation,"(Dictybase, Phenotypes)",5.92e-02,2
11,decreased chemotaxis to cAMP,"(Dictybase, Phenotypes)",5.92e-02,2
12,decreased fruiting body size,"(Dictybase, Phenotypes)",7.59e-02,2
13,locomotion,"(GO, biological_process)",7.59e-02,3
14,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",9.57e-02,2
15,wild type,"(Dictybase, Phenotypes)",1.98e-01,3
16,cytoskeleton,"(GO, cellular_component)",2.21e-01,2

***  C17 selected: 36 with EID: 36
Ratio of genes annotated with a gene set in reference 0.32 and query 0.53
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 18 out of 19 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell cycle,"(GO, biological_process)",8.25e-13,13
1,chromosome segregation,"(GO, biological_process)",1.81e-09,6
2,mitotic nuclear division,"(GO, biological_process)",5.50e-08,5
3,chromosome organization,"(GO, biological_process)",3.03e-07,7
4,mitotic cell cycle,"(GO, biological_process)",1.66e-06,7
5,DNA replication,"(KEGG, Pathways)",2.06e-06,5
6,chromosome,"(GO, cellular_component)",2.75e-06,6
7,cell division,"(GO, biological_process)",2.75e-06,7
8,cytoskeleton,"(GO, cellular_component)",5.99e-05,7
9,microtubule organizing center,"(GO, cellular_component)",6.17e-03,3
10,cytoskeleton organization,"(GO, biological_process)",6.47e-03,5
11,cytoskeletal protein binding,"(GO, molecular_function)",1.61e-02,4
12,DNA metabolic process,"(GO, biological_process)",1.74e-01,2

***  C18 selected: 30 with EID: 30
Ratio of genes annotated with a gene set in reference 0.32 and query 0.7
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 20 out of 21 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome biogenesis in eukaryotes,"(KEGG, Pathways)",1.08e-15,12
1,nucleolus,"(GO, cellular_component)",8.61e-14,11
2,ribosome biogenesis,"(GO, biological_process)",6.18e-13,10
3,ribonucleoprotein complex assembly,"(GO, biological_process)",1.10e-05,4
4,RNA binding,"(GO, molecular_function)",5.66e-04,6
5,rRNA binding,"(GO, molecular_function)",5.45e-03,2
6,protein-containing complex assembly,"(GO, biological_process)",1.42e-02,4
7,cellular component assembly,"(GO, biological_process)",4.41e-02,4
8,helicase activity,"(GO, molecular_function)",5.26e-02,2
9,methyltransferase activity,"(GO, molecular_function)",5.63e-02,2

***  C19 selected: 23 with EID: 23
Ratio of genes annotated with a gene set in reference 0.32 and query 0.26
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 3 out of 6 query genes used for enrichment calculation.

          Gene set                  Ontology       FDR  N in query
0  kinase activity  (GO, molecular_function)  4.71e-02           3

***  C20 selected: 20 with EID: 20
Ratio of genes annotated with a gene set in reference 0.32 and query 0.0
Enrichment at FDR: 0.25 and min query - gene set overlap 2

UnboundLocalError: local variable 'query_in_enriched' referenced before assignment

### Enrichment for mergedGenes_minExpressed0.990.1Strains1Min1Max18_clustersAX4Louvain0.4m0s1log.tab

In [8]:
regulons=pd.read_table(pathRegulons+'mergedGenes_minExpressed0.990.1Strains1Min1Max18_clustersAX4Louvain0.4m0s1log.tab',index_col=0)
for group in range(1,len(regulons['Cluster'].unique())+1):
    enriched=group_diff_enrichment(data=regulons,group='C'+str(group),min_overlap=2)
    if  save_enrichment and enriched is not None:
        enriched.to_csv(pathRegulons+'enrichment/minExpressed0.990.1Strains1Min1Max18_clustersAX4Louvain0.4m0s1log_enrichment_cluster'+str(group)+'.tsv', sep='\t',index=False)

***  C1 selected: 96 with EID: 96
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 30 out of 96 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,anatomical structure development,"(GO, biological_process)",2.66e-05,16
1,cell differentiation,"(GO, biological_process)",8.27e-03,7
2,development arrests at loose mound stage,"(Dictybase, Phenotypes)",1.47e-02,3
3,signal transduction,"(GO, biological_process)",1.47e-02,10
4,Glycosaminoglycan degradation,"(KEGG, Pathways)",2.18e-02,2
5,increased slug migration,"(Dictybase, Phenotypes)",2.52e-02,2
6,aberrant aggregation,"(Dictybase, Phenotypes)",2.52e-02,4
7,extracellular region,"(GO, cellular_component)",2.52e-02,6
8,decreased aggregate size,"(Dictybase, Phenotypes)",2.65e-02,3
9,decreased fruiting body size,"(Dictybase, Phenotypes)",3.40e-02,4
10,development arrests at tipped mound stage,"(Dictybase, Phenotypes)",3.77e-02,2
11,locomotion,"(GO, biological_process)",3.77e-02,6
12,cell adhesion,"(GO, biological_process)",3.77e-02,4
13,plasma membrane,"(GO, cellular_component)",3.81e-02,7
14,development arrests at mound stage,"(Dictybase, Phenotypes)",4.39e-02,3
15,multiple tips in mound,"(Dictybase, Phenotypes)",4.39e-02,2
16,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",4.39e-02,4
17,delayed gene expression,"(Dictybase, Phenotypes)",4.39e-02,2
18,phosphatase activity,"(GO, molecular_function)",4.39e-02,3
19,abolished gene expression,"(Dictybase, Phenotypes)",6.61e-02,2
20,abolished sporulation,"(Dictybase, Phenotypes)",6.61e-02,2
21,cytoskeleton organization,"(GO, biological_process)",7.20e-02,5
22,response to stress,"(GO, biological_process)",7.35e-02,7
23,precocious development,"(Dictybase, Phenotypes)",7.97e-02,2
24,decreased gene expression,"(Dictybase, Phenotypes)",9.30e-02,3
25,decreased chemotaxis rate,"(Dictybase, Phenotypes)",9.39e-02,2
26,aberrant F-actin organization,"(Dictybase, Phenotypes)",9.56e-02,2
27,peptidase activity,"(GO, molecular_function)",9.56e-02,3
28,abolished slug migration,"(Dictybase, Phenotypes)",1.14e-01,2
29,wild type,"(Dictybase, Phenotypes)",1.22e-01,6
30,cytoskeleton,"(GO, cellular_component)",1.34e-01,4
31,reproduction,"(GO, biological_process)",1.34e-01,3
32,aberrant development,"(Dictybase, Phenotypes)",1.37e-01,2
33,decreased sporulation,"(Dictybase, Phenotypes)",1.42e-01,2
34,cellular component assembly,"(GO, biological_process)",1.61e-01,4
35,cell motility,"(GO, biological_process)",1.74e-01,2
36,delayed aggregation,"(Dictybase, Phenotypes)",1.89e-01,2
37,decreased cell motility,"(Dictybase, Phenotypes)",2.01e-01,2
38,endosome,"(GO, cellular_component)",2.06e-01,2
39,abolished aggregation,"(Dictybase, Phenotypes)",2.12e-01,2
40,aberrant culmination,"(Dictybase, Phenotypes)",2.38e-01,2

***  C2 selected: 89 with EID: 88
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 10 out of 88 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,extracellular region,"(GO, cellular_component)",2.63e-03,7
1,anatomical structure formation involved in mor...,"(GO, biological_process)",1.90e-02,4
2,Starch and sucrose metabolism,"(KEGG, Pathways)",1.02e-01,2
3,cell differentiation,"(GO, biological_process)",1.02e-01,4

***  C3 selected: 87 with EID: 87
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 36 out of 87 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell wall,"(GO, cellular_component)",7.49e-09,6
1,external encapsulating structure,"(GO, cellular_component)",7.49e-09,6
2,aberrant spore coat morphology,"(Dictybase, Phenotypes)",3.47e-07,5
3,cell wall organization or biogenesis,"(GO, biological_process)",9.70e-07,5
4,anatomical structure formation involved in mor...,"(GO, biological_process)",1.47e-05,7
5,anatomical structure development,"(GO, biological_process)",1.51e-04,13
6,extracellular region,"(GO, cellular_component)",1.89e-04,8
7,abolished cellulose binding,"(Dictybase, Phenotypes)",5.41e-04,2
8,cell differentiation,"(GO, biological_process)",6.98e-04,7
9,aberrant cell-cell adhesion,"(Dictybase, Phenotypes)",4.27e-03,2
10,decreased spore viability,"(Dictybase, Phenotypes)",6.25e-03,4
11,extracellular matrix,"(GO, cellular_component)",9.82e-03,2
12,Metabolic pathways,"(KEGG, Pathways)",1.40e-02,12
13,Biosynthesis of secondary metabolites,"(KEGG, Pathways)",3.80e-02,6
14,Biosynthesis of antibiotics,"(KEGG, Pathways)",4.02e-02,5
15,Glutathione metabolism,"(KEGG, Pathways)",5.62e-02,2
16,hydrolase activity,"(GO, molecular_function)",5.62e-02,2
17,cellular component assembly,"(GO, biological_process)",5.90e-02,5
18,Starch and sucrose metabolism,"(KEGG, Pathways)",6.85e-02,2
19,Citrate cycle (TCA cycle),"(KEGG, Pathways)",6.85e-02,2
20,cytoskeletal protein binding,"(GO, molecular_function)",7.82e-02,4
21,Glyoxylate and dicarboxylate metabolism,"(KEGG, Pathways)",8.23e-02,2
22,catabolic process,"(GO, biological_process)",8.23e-02,5
23,Carbon metabolism,"(KEGG, Pathways)",9.13e-02,3
24,plasma membrane,"(GO, cellular_component)",9.45e-02,5
25,structural molecule activity,"(GO, molecular_function)",1.18e-01,3
26,cytosol,"(GO, cellular_component)",1.24e-01,4
27,abolished culmination,"(Dictybase, Phenotypes)",1.56e-01,2
28,DNA binding,"(GO, molecular_function)",1.56e-01,4
29,lyase activity,"(GO, molecular_function)",1.69e-01,2
30,transmembrane transporter activity,"(GO, molecular_function)",1.83e-01,3
31,carbohydrate metabolic process,"(GO, biological_process)",2.30e-01,2
32,aberrant culmination,"(Dictybase, Phenotypes)",2.34e-01,2

***  C4 selected: 85 with EID: 85
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 7 out of 85 query genes used for enrichment calculation.

               Gene set                  Ontology       FDR  N in query
0  extracellular region  (GO, cellular_component)  6.97e-03           7

***  C5 selected: 73 with EID: 73
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 2 out of 73 query genes used for enrichment calculation.

              Gene set                  Ontology       FDR  N in query
0  cell-cell signaling  (GO, biological_process)  3.61e-02           2

***  C6 selected: 72 with EID: 72
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 10 out of 72 query genes used for enrichment calculation.

               Gene set                  Ontology       FDR  N in query
0  extracellular region  (GO, cellular_component)  6.28e-07          10

***  C7 selected: 70 with EID: 70
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 12 out of 70 query genes used for enrichment calculation.

               Gene set                  Ontology       FDR  N in query
0  extracellular region  (GO, cellular_component)  1.54e-01           4
1       kinase activity  (GO, molecular_function)  1.54e-01           6
2         cell adhesion  (GO, biological_process)  2.27e-01           2

***  C8 selected: 65 with EID: 63
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 8 out of 63 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell wall,"(GO, cellular_component)",1.74e-02,2
1,external encapsulating structure,"(GO, cellular_component)",1.74e-02,2
2,anatomical structure formation involved in mor...,"(GO, biological_process)",3.81e-02,3
3,hydrolase activity,"(GO, molecular_function)",9.11e-02,2
4,cell differentiation,"(GO, biological_process)",1.14e-01,3
5,lipid binding,"(GO, molecular_function)",1.14e-01,2
6,extracellular region,"(GO, cellular_component)",1.20e-01,3

***  C9 selected: 57 with EID: 56
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 6 out of 56 query genes used for enrichment calculation.

                    Gene set                  Ontology       FDR  N in query
0              cell adhesion  (GO, biological_process)  1.23e-02           4
1  decreased spore viability   (Dictybase, Phenotypes)  1.80e-01           2

***  C10 selected: 54 with EID: 54
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 26 out of 54 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Oxidative phosphorylation,"(KEGG, Pathways)",7.61e-08,7
1,mitochondrion,"(GO, cellular_component)",7.61e-08,11
2,Metabolic pathways,"(KEGG, Pathways)",9.01e-06,14
3,generation of precursor metabolites and energy,"(GO, biological_process)",1.52e-05,6
4,protein folding,"(GO, biological_process)",2.12e-04,4
5,unfolded protein binding,"(GO, molecular_function)",1.76e-03,3
6,oxidoreductase activity,"(GO, molecular_function)",2.07e-03,6
7,Phagosome,"(KEGG, Pathways)",1.03e-02,3
8,transmembrane transporter activity,"(GO, molecular_function)",2.42e-02,4
9,transmembrane transport,"(GO, biological_process)",3.03e-02,4
10,Propanoate metabolism,"(KEGG, Pathways)",3.06e-02,2
11,Ribosome,"(KEGG, Pathways)",3.06e-02,3
12,Citrate cycle (TCA cycle),"(KEGG, Pathways)",3.06e-02,2
13,Biosynthesis of antibiotics,"(KEGG, Pathways)",3.06e-02,4
14,Carbon metabolism,"(KEGG, Pathways)",3.28e-02,3
15,cytosol,"(GO, cellular_component)",3.51e-02,4
16,ligase activity,"(GO, molecular_function)",1.23e-01,2
17,small molecule metabolic process,"(GO, biological_process)",1.44e-01,4
18,Biosynthesis of secondary metabolites,"(KEGG, Pathways)",1.73e-01,3
19,vacuole,"(GO, cellular_component)",1.88e-01,2

***  C11 selected: 54 with EID: 54
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 44 out of 54 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome,"(KEGG, Pathways)",1.13e-86,44
1,ribosome,"(GO, cellular_component)",4.68e-85,43
2,structural constituent of ribosome,"(GO, molecular_function)",8.59e-76,39
3,structural molecule activity,"(GO, molecular_function)",4.25e-69,39
4,translation,"(GO, biological_process)",2.73e-62,39
5,RNA binding,"(GO, molecular_function)",4.33e-10,11
6,rRNA binding,"(GO, molecular_function)",6.82e-07,4

***  C12 selected: 49 with EID: 49
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 13 out of 49 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell differentiation,"(GO, biological_process)",1.88e-03,6
1,anatomical structure formation involved in mor...,"(GO, biological_process)",8.85e-03,4
2,DNA-binding transcription factor activity,"(GO, molecular_function)",1.29e-02,3
3,reproduction,"(GO, biological_process)",2.07e-02,4
4,anatomical structure development,"(GO, biological_process)",2.65e-02,7
5,decreased gene expression,"(Dictybase, Phenotypes)",3.74e-02,3
6,Starch and sucrose metabolism,"(KEGG, Pathways)",4.78e-02,2
7,DNA binding,"(GO, molecular_function)",6.00e-02,4
8,decreased spore viability,"(Dictybase, Phenotypes)",7.25e-02,2
9,generation of precursor metabolites and energy,"(GO, biological_process)",9.55e-02,2
10,carbohydrate metabolic process,"(GO, biological_process)",9.55e-02,2
11,cytoskeleton organization,"(GO, biological_process)",9.55e-02,3
12,cell adhesion,"(GO, biological_process)",9.55e-02,2
13,kinase activity,"(GO, molecular_function)",2.15e-01,3
14,signal transduction,"(GO, biological_process)",2.45e-01,3

***  C13 selected: 49 with EID: 49
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 42 out of 49 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Proteasome,"(KEGG, Pathways)",1.18e-65,29
1,peptidase activity,"(GO, molecular_function)",1.24e-31,21
2,catabolic process,"(GO, biological_process)",4.33e-29,25
3,Protein processing in endoplasmic reticulum,"(KEGG, Pathways)",5.25e-02,3
4,enzyme regulator activity,"(GO, molecular_function)",5.25e-02,3
5,response to stress,"(GO, biological_process)",7.13e-02,5
6,endoplasmic reticulum,"(GO, cellular_component)",7.68e-02,3
7,ATPase activity,"(GO, molecular_function)",1.30e-01,3
8,cytoplasmic vesicle,"(GO, cellular_component)",1.78e-01,3

***  C14 selected: 43 with EID: 43
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 21 out of 43 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cytoskeletal protein binding,"(GO, molecular_function)",2.38e-10,11
1,cellular component assembly,"(GO, biological_process)",8.13e-06,8
2,protein-containing complex assembly,"(GO, biological_process)",8.13e-06,7
3,cytoskeleton organization,"(GO, biological_process)",8.13e-06,8
4,cytoskeleton,"(GO, cellular_component)",3.66e-05,7
5,Endocytosis,"(KEGG, Pathways)",5.73e-05,5
6,response to stress,"(GO, biological_process)",1.54e-03,7
7,cytosol,"(GO, cellular_component)",4.69e-03,5
8,plasma membrane,"(GO, cellular_component)",1.36e-02,5
9,decreased cell motility,"(Dictybase, Phenotypes)",1.37e-02,3
10,cell morphogenesis,"(GO, biological_process)",1.54e-02,2
11,cytoplasmic vesicle,"(GO, cellular_component)",2.66e-02,4
12,aberrant cell morphology,"(Dictybase, Phenotypes)",3.84e-02,2
13,anatomical structure development,"(GO, biological_process)",5.58e-02,5
14,aberrant streaming,"(Dictybase, Phenotypes)",7.39e-02,2
15,wild type,"(Dictybase, Phenotypes)",7.45e-02,4
16,abolished aggregation,"(Dictybase, Phenotypes)",7.45e-02,2
17,aberrant cytokinesis,"(Dictybase, Phenotypes)",9.29e-02,2
18,vesicle-mediated transport,"(GO, biological_process)",9.29e-02,3
19,mitotic cell cycle,"(GO, biological_process)",9.31e-02,2
20,reproduction,"(GO, biological_process)",1.03e-01,2
21,cell division,"(GO, biological_process)",1.05e-01,2
22,decreased growth rate,"(Dictybase, Phenotypes)",1.33e-01,2
23,transmembrane transport,"(GO, biological_process)",1.52e-01,2
24,cell cycle,"(GO, biological_process)",1.52e-01,2
25,ATPase activity,"(GO, molecular_function)",1.52e-01,2
26,transmembrane transporter activity,"(GO, molecular_function)",1.52e-01,2
27,locomotion,"(GO, biological_process)",1.78e-01,2

***  C15 selected: 38 with EID: 38
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 18 out of 38 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell cycle,"(GO, biological_process)",5.30e-14,13
1,chromosome segregation,"(GO, biological_process)",1.94e-10,6
2,mitotic nuclear division,"(GO, biological_process)",7.84e-09,5
3,chromosome organization,"(GO, biological_process)",2.61e-08,7
4,mitotic cell cycle,"(GO, biological_process)",1.45e-07,7
5,DNA replication,"(KEGG, Pathways)",2.74e-07,5
6,cell division,"(GO, biological_process)",2.74e-07,7
7,chromosome,"(GO, cellular_component)",3.05e-07,6
8,cytoskeleton,"(GO, cellular_component)",5.47e-06,7
9,cytoskeleton organization,"(GO, biological_process)",1.17e-03,5
10,microtubule organizing center,"(GO, cellular_component)",1.65e-03,3
11,cytoskeletal protein binding,"(GO, molecular_function)",4.21e-03,4
12,DNA metabolic process,"(GO, biological_process)",7.99e-02,2
13,ATPase activity,"(GO, molecular_function)",1.51e-01,2

***  C16 selected: 35 with EID: 35
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 12 out of 35 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,aberrant CRAC localization to the plasma membrane,"(Dictybase, Phenotypes)",1.12e-02,2
1,development arrests at tipped mound stage,"(Dictybase, Phenotypes)",2.43e-02,2
2,anatomical structure formation involved in mor...,"(GO, biological_process)",3.78e-02,3
3,cell death,"(GO, biological_process)",3.89e-02,2
4,RNA degradation,"(KEGG, Pathways)",4.37e-02,2
5,aberrant aggregation,"(Dictybase, Phenotypes)",4.37e-02,2
6,decreased chemotaxis to cAMP,"(Dictybase, Phenotypes)",4.37e-02,2
7,anatomical structure development,"(GO, biological_process)",4.37e-02,5
8,cell differentiation,"(GO, biological_process)",4.37e-02,3
9,kinase activity,"(GO, molecular_function)",4.37e-02,4
10,locomotion,"(GO, biological_process)",4.51e-02,3
11,decreased fruiting body size,"(Dictybase, Phenotypes)",4.94e-02,2
12,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",6.84e-02,2
13,wild type,"(Dictybase, Phenotypes)",1.12e-01,3
14,cytoskeleton,"(GO, cellular_component)",1.45e-01,2
15,DNA binding,"(GO, molecular_function)",1.79e-01,2

***  C17 selected: 31 with EID: 31
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 0 out of 31 query genes used for enrichment calculation.

None

***  C18 selected: 31 with EID: 31
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 20 out of 31 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome biogenesis in eukaryotes,"(KEGG, Pathways)",7.70e-19,12
1,nucleolus,"(GO, cellular_component)",9.74e-17,11
2,ribosome biogenesis,"(GO, biological_process)",1.15e-15,10
3,ribonucleoprotein complex assembly,"(GO, biological_process)",8.06e-07,4
4,RNA binding,"(GO, molecular_function)",1.36e-05,6
5,protein-containing complex assembly,"(GO, biological_process)",1.41e-03,4
6,rRNA binding,"(GO, molecular_function)",1.41e-03,2
7,cellular component assembly,"(GO, biological_process)",4.46e-03,4
8,helicase activity,"(GO, molecular_function)",1.68e-02,2
9,methyltransferase activity,"(GO, molecular_function)",1.82e-02,2
10,ATPase activity,"(GO, molecular_function)",9.37e-02,2

***  C19 selected: 20 with EID: 20
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 18 out of 20 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,ribosome,"(GO, cellular_component)",4.29e-33,17
1,Ribosome,"(KEGG, Pathways)",4.70e-33,17
2,structural constituent of ribosome,"(GO, molecular_function)",1.12e-28,15
3,structural molecule activity,"(GO, molecular_function)",1.46e-26,15
4,translation,"(GO, biological_process)",5.80e-22,14
5,rRNA binding,"(GO, molecular_function)",3.78e-06,3
6,RNA binding,"(GO, molecular_function)",1.82e-05,5
7,cytosol,"(GO, cellular_component)",3.81e-05,5
8,ribosome biogenesis,"(GO, biological_process)",3.02e-04,3
9,delayed development,"(Dictybase, Phenotypes)",1.17e-02,2
10,anatomical structure development,"(GO, biological_process)",2.14e-01,2

***  C20 selected: 1 with EID: 1
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 0 out of 1 query genes used for enrichment calculation.

None

#### Using only genes annotated with at least one gene set

In [9]:
regulons=pd.read_table(pathRegulons+'mergedGenes_minExpressed0.990.1Strains1Min1Max18_clustersAX4Louvain0.4m0s1log.tab',index_col=0)
for group in range(1,len(regulons['Cluster'].unique())+1):
    enriched=group_diff_enrichment(data=regulons,group='C'+str(group),min_overlap=2,use_annotated_genes=True)
    if save_enrichment and enriched is not None:
        enriched.to_csv(pathRegulons+'enrichment/mergedGenes_minExpressed0.990.1Strains1Min1Max18_clustersAX4Louvain0.4m0s1log.tab'+str(group)+'.tsv', sep='\t',index=False)

***  C1 selected: 96 with EID: 96
Ratio of genes annotated with a gene set in reference 0.32 and query 0.39
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 30 out of 37 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,anatomical structure development,"(GO, biological_process)",6.78e-05,16
1,cell differentiation,"(GO, biological_process)",2.02e-02,7
2,Glycosaminoglycan degradation,"(KEGG, Pathways)",3.13e-02,2
3,development arrests at loose mound stage,"(Dictybase, Phenotypes)",3.13e-02,3
4,signal transduction,"(GO, biological_process)",3.13e-02,10
5,increased slug migration,"(Dictybase, Phenotypes)",4.18e-02,2
6,aberrant aggregation,"(Dictybase, Phenotypes)",4.18e-02,4
7,decreased aggregate size,"(Dictybase, Phenotypes)",4.36e-02,3
8,extracellular region,"(GO, cellular_component)",4.36e-02,6
9,decreased fruiting body size,"(Dictybase, Phenotypes)",6.04e-02,4
10,development arrests at tipped mound stage,"(Dictybase, Phenotypes)",6.04e-02,2
11,plasma membrane,"(GO, cellular_component)",6.15e-02,7
12,locomotion,"(GO, biological_process)",6.15e-02,6
13,cell adhesion,"(GO, biological_process)",6.15e-02,4
14,phosphatase activity,"(GO, molecular_function)",6.15e-02,3
15,multiple tips in mound,"(Dictybase, Phenotypes)",6.76e-02,2
16,delayed gene expression,"(Dictybase, Phenotypes)",6.76e-02,2
17,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",6.88e-02,4
18,development arrests at mound stage,"(Dictybase, Phenotypes)",7.07e-02,3
19,abolished gene expression,"(Dictybase, Phenotypes)",9.33e-02,2
20,abolished sporulation,"(Dictybase, Phenotypes)",9.33e-02,2
21,precocious development,"(Dictybase, Phenotypes)",1.09e-01,2
22,cytoskeleton organization,"(GO, biological_process)",1.18e-01,5
23,decreased gene expression,"(Dictybase, Phenotypes)",1.26e-01,3
24,decreased chemotaxis rate,"(Dictybase, Phenotypes)",1.26e-01,2
25,aberrant F-actin organization,"(Dictybase, Phenotypes)",1.26e-01,2
26,response to stress,"(GO, biological_process)",1.26e-01,7
27,peptidase activity,"(GO, molecular_function)",1.40e-01,3
28,abolished slug migration,"(Dictybase, Phenotypes)",1.58e-01,2
29,aberrant development,"(Dictybase, Phenotypes)",1.93e-01,2
30,reproduction,"(GO, biological_process)",1.95e-01,3
31,decreased sporulation,"(Dictybase, Phenotypes)",1.96e-01,2
32,wild type,"(Dictybase, Phenotypes)",1.97e-01,6
33,cytoskeleton,"(GO, cellular_component)",1.97e-01,4
34,cellular component assembly,"(GO, biological_process)",2.26e-01,4
35,cell motility,"(GO, biological_process)",2.26e-01,2

***  C2 selected: 89 with EID: 88
Ratio of genes annotated with a gene set in reference 0.32 and query 0.2
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 10 out of 18 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,extracellular region,"(GO, cellular_component)",6.50e-05,7
1,anatomical structure formation involved in mor...,"(GO, biological_process)",2.90e-03,4
2,cell differentiation,"(GO, biological_process)",2.42e-02,4
3,Starch and sucrose metabolism,"(KEGG, Pathways)",4.25e-02,2

***  C3 selected: 87 with EID: 87
Ratio of genes annotated with a gene set in reference 0.32 and query 0.45
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 34 out of 39 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell wall,"(GO, cellular_component)",4.58e-08,6
1,external encapsulating structure,"(GO, cellular_component)",4.58e-08,6
2,aberrant spore coat morphology,"(Dictybase, Phenotypes)",1.63e-06,5
3,cell wall organization or biogenesis,"(GO, biological_process)",4.53e-06,5
4,anatomical structure formation involved in mor...,"(GO, biological_process)",1.05e-04,7
5,abolished cellulose binding,"(Dictybase, Phenotypes)",1.41e-03,2
6,extracellular region,"(GO, cellular_component)",1.52e-03,8
7,anatomical structure development,"(GO, biological_process)",1.85e-03,13
8,cell differentiation,"(GO, biological_process)",4.48e-03,7
9,aberrant cell-cell adhesion,"(Dictybase, Phenotypes)",8.28e-03,2
10,decreased spore viability,"(Dictybase, Phenotypes)",1.90e-02,4
11,extracellular matrix,"(GO, cellular_component)",1.90e-02,2
12,Metabolic pathways,"(KEGG, Pathways)",1.02e-01,12
13,Glutathione metabolism,"(KEGG, Pathways)",1.10e-01,2
14,hydrolase activity,"(GO, molecular_function)",1.10e-01,2
15,Biosynthesis of secondary metabolites,"(KEGG, Pathways)",1.12e-01,6
16,Biosynthesis of antibiotics,"(KEGG, Pathways)",1.12e-01,5
17,Citrate cycle (TCA cycle),"(KEGG, Pathways)",1.23e-01,2
18,Starch and sucrose metabolism,"(KEGG, Pathways)",1.26e-01,2
19,Glyoxylate and dicarboxylate metabolism,"(KEGG, Pathways)",1.47e-01,2
20,cellular component assembly,"(GO, biological_process)",1.47e-01,5
21,cytoskeletal protein binding,"(GO, molecular_function)",1.82e-01,4
22,Carbon metabolism,"(KEGG, Pathways)",2.05e-01,3
23,catabolic process,"(GO, biological_process)",2.22e-01,5

***  C4 selected: 85 with EID: 85
Ratio of genes annotated with a gene set in reference 0.32 and query 0.24
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 7 out of 20 query genes used for enrichment calculation.

               Gene set                  Ontology       FDR  N in query
0  extracellular region  (GO, cellular_component)  4.88e-04           7

***  C5 selected: 73 with EID: 73
Ratio of genes annotated with a gene set in reference 0.32 and query 0.11
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 5 out of 8 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell-cell signaling,"(GO, biological_process)",3.91e-03,2
1,anatomical structure development,"(GO, biological_process)",5.03e-02,4
2,extracellular region,"(GO, cellular_component)",1.34e-01,2
3,wild type,"(Dictybase, Phenotypes)",2.33e-01,2
4,signal transduction,"(GO, biological_process)",2.33e-01,2

***  C6 selected: 72 with EID: 72
Ratio of genes annotated with a gene set in reference 0.32 and query 0.24
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 12 out of 17 query genes used for enrichment calculation.

               Gene set                  Ontology       FDR  N in query
0  extracellular region  (GO, cellular_component)  3.29e-09          10
1             wild type   (Dictybase, Phenotypes)  1.54e-01           5

***  C7 selected: 70 with EID: 70
Ratio of genes annotated with a gene set in reference 0.32 and query 0.26
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 12 out of 18 query genes used for enrichment calculation.

               Gene set                  Ontology       FDR  N in query
0  extracellular region  (GO, cellular_component)  6.17e-02           4
1       kinase activity  (GO, molecular_function)  6.17e-02           6
2         cell adhesion  (GO, biological_process)  1.81e-01           2

***  C8 selected: 65 with EID: 63
Ratio of genes annotated with a gene set in reference 0.32 and query 0.14
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 8 out of 9 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell wall,"(GO, cellular_component)",2.97e-03,2
1,external encapsulating structure,"(GO, cellular_component)",2.97e-03,2
2,anatomical structure formation involved in mor...,"(GO, biological_process)",2.97e-03,3
3,extracellular region,"(GO, cellular_component)",1.34e-02,3
4,cell differentiation,"(GO, biological_process)",1.34e-02,3
5,hydrolase activity,"(GO, molecular_function)",1.34e-02,2
6,lipid binding,"(GO, molecular_function)",1.79e-02,2
7,anatomical structure development,"(GO, biological_process)",2.66e-02,4
8,protein transport,"(GO, biological_process)",1.15e-01,2

***  C9 selected: 57 with EID: 56
Ratio of genes annotated with a gene set in reference 0.32 and query 0.2
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 6 out of 11 query genes used for enrichment calculation.

                    Gene set                  Ontology       FDR  N in query
0              cell adhesion  (GO, biological_process)  1.25e-03           4
1  decreased spore viability   (Dictybase, Phenotypes)  1.12e-01           2

***  C10 selected: 54 with EID: 54
Ratio of genes annotated with a gene set in reference 0.32 and query 0.57
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 26 out of 31 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Oxidative phosphorylation,"(KEGG, Pathways)",6.18e-06,7
1,mitochondrion,"(GO, cellular_component)",1.39e-05,11
2,generation of precursor metabolites and energy,"(GO, biological_process)",4.71e-04,6
3,Metabolic pathways,"(KEGG, Pathways)",1.90e-03,14
4,protein folding,"(GO, biological_process)",1.90e-03,4
5,unfolded protein binding,"(GO, molecular_function)",9.33e-03,3
6,oxidoreductase activity,"(GO, molecular_function)",3.62e-02,6
7,Phagosome,"(KEGG, Pathways)",5.14e-02,3
8,Citrate cycle (TCA cycle),"(KEGG, Pathways)",1.24e-01,2
9,Propanoate metabolism,"(KEGG, Pathways)",1.26e-01,2
10,transmembrane transporter activity,"(GO, molecular_function)",1.36e-01,4
11,Ribosome,"(KEGG, Pathways)",1.55e-01,3
12,transmembrane transport,"(GO, biological_process)",1.55e-01,4
13,Carbon metabolism,"(KEGG, Pathways)",1.58e-01,3
14,Biosynthesis of antibiotics,"(KEGG, Pathways)",1.58e-01,4
15,cytosol,"(GO, cellular_component)",2.04e-01,4

***  C11 selected: 54 with EID: 54
Ratio of genes annotated with a gene set in reference 0.32 and query 0.89
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 44 out of 48 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome,"(KEGG, Pathways)",7.62e-70,44
1,ribosome,"(GO, cellular_component)",2.18e-68,43
2,structural constituent of ribosome,"(GO, molecular_function)",4.22e-60,39
3,structural molecule activity,"(GO, molecular_function)",2.02e-53,39
4,translation,"(GO, biological_process)",1.23e-46,39
5,RNA binding,"(GO, molecular_function)",1.25e-05,11
6,rRNA binding,"(GO, molecular_function)",3.87e-05,4

***  C12 selected: 49 with EID: 49
Ratio of genes annotated with a gene set in reference 0.32 and query 0.31
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 13 out of 15 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell differentiation,"(GO, biological_process)",7.42e-04,6
1,anatomical structure formation involved in mor...,"(GO, biological_process)",5.80e-03,4
2,DNA-binding transcription factor activity,"(GO, molecular_function)",1.00e-02,3
3,anatomical structure development,"(GO, biological_process)",1.11e-02,7
4,reproduction,"(GO, biological_process)",1.11e-02,4
5,decreased gene expression,"(Dictybase, Phenotypes)",2.98e-02,3
6,Starch and sucrose metabolism,"(KEGG, Pathways)",4.25e-02,2
7,DNA binding,"(GO, molecular_function)",5.28e-02,4
8,decreased spore viability,"(Dictybase, Phenotypes)",6.97e-02,2
9,cytoskeleton organization,"(GO, biological_process)",8.64e-02,3
10,generation of precursor metabolites and energy,"(GO, biological_process)",8.64e-02,2
11,cell adhesion,"(GO, biological_process)",8.99e-02,2
12,carbohydrate metabolic process,"(GO, biological_process)",9.10e-02,2
13,kinase activity,"(GO, molecular_function)",1.89e-01,3
14,signal transduction,"(GO, biological_process)",2.17e-01,3
15,locomotion,"(GO, biological_process)",2.40e-01,2

***  C13 selected: 49 with EID: 49
Ratio of genes annotated with a gene set in reference 0.32 and query 0.94
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 35 out of 46 query genes used for enrichment calculation.

             Gene set                  Ontology       FDR  N in query
0          Proteasome          (KEGG, Pathways)  1.94e-52          29
1  peptidase activity  (GO, molecular_function)  4.64e-22          21
2   catabolic process  (GO, biological_process)  6.21e-18          25

***  C14 selected: 43 with EID: 43
Ratio of genes annotated with a gene set in reference 0.32 and query 0.51
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 20 out of 22 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cytoskeletal protein binding,"(GO, molecular_function)",8.28e-09,11
1,cellular component assembly,"(GO, biological_process)",1.28e-04,8
2,protein-containing complex assembly,"(GO, biological_process)",1.28e-04,7
3,cytoskeleton organization,"(GO, biological_process)",1.28e-04,8
4,Endocytosis,"(KEGG, Pathways)",4.44e-04,5
5,cytoskeleton,"(GO, cellular_component)",4.44e-04,7
6,response to stress,"(GO, biological_process)",1.82e-02,7
7,cytosol,"(GO, cellular_component)",3.16e-02,5
8,cell morphogenesis,"(GO, biological_process)",4.62e-02,2
9,decreased cell motility,"(Dictybase, Phenotypes)",4.84e-02,3
10,plasma membrane,"(GO, cellular_component)",6.98e-02,5
11,aberrant cell morphology,"(Dictybase, Phenotypes)",8.19e-02,2
12,cytoplasmic vesicle,"(GO, cellular_component)",8.55e-02,4
13,aberrant streaming,"(Dictybase, Phenotypes)",1.55e-01,2
14,abolished aggregation,"(Dictybase, Phenotypes)",1.71e-01,2
15,anatomical structure development,"(GO, biological_process)",1.91e-01,5
16,aberrant cytokinesis,"(Dictybase, Phenotypes)",2.09e-01,2
17,mitotic cell cycle,"(GO, biological_process)",2.09e-01,2
18,wild type,"(Dictybase, Phenotypes)",2.15e-01,4
19,vesicle-mediated transport,"(GO, biological_process)",2.26e-01,3
20,reproduction,"(GO, biological_process)",2.26e-01,2
21,cell division,"(GO, biological_process)",2.26e-01,2

***  C15 selected: 38 with EID: 38
Ratio of genes annotated with a gene set in reference 0.32 and query 0.5
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 18 out of 19 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell cycle,"(GO, biological_process)",8.25e-13,13
1,chromosome segregation,"(GO, biological_process)",1.81e-09,6
2,mitotic nuclear division,"(GO, biological_process)",5.50e-08,5
3,chromosome organization,"(GO, biological_process)",3.03e-07,7
4,mitotic cell cycle,"(GO, biological_process)",1.66e-06,7
5,DNA replication,"(KEGG, Pathways)",2.06e-06,5
6,chromosome,"(GO, cellular_component)",2.75e-06,6
7,cell division,"(GO, biological_process)",2.75e-06,7
8,cytoskeleton,"(GO, cellular_component)",5.99e-05,7
9,microtubule organizing center,"(GO, cellular_component)",6.17e-03,3
10,cytoskeleton organization,"(GO, biological_process)",6.47e-03,5
11,cytoskeletal protein binding,"(GO, molecular_function)",1.61e-02,4
12,DNA metabolic process,"(GO, biological_process)",1.74e-01,2

***  C16 selected: 35 with EID: 35
Ratio of genes annotated with a gene set in reference 0.32 and query 0.4
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 12 out of 14 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,aberrant CRAC localization to the plasma membrane,"(Dictybase, Phenotypes)",1.68e-02,2
1,development arrests at tipped mound stage,"(Dictybase, Phenotypes)",3.66e-02,2
2,cell death,"(GO, biological_process)",4.88e-02,2
3,anatomical structure formation involved in mor...,"(GO, biological_process)",4.88e-02,3
4,RNA degradation,"(KEGG, Pathways)",5.98e-02,2
5,aberrant aggregation,"(Dictybase, Phenotypes)",5.98e-02,2
6,decreased chemotaxis to cAMP,"(Dictybase, Phenotypes)",5.98e-02,2
7,anatomical structure development,"(GO, biological_process)",5.98e-02,5
8,cell differentiation,"(GO, biological_process)",5.98e-02,3
9,kinase activity,"(GO, molecular_function)",6.60e-02,4
10,decreased fruiting body size,"(Dictybase, Phenotypes)",6.93e-02,2
11,locomotion,"(GO, biological_process)",6.93e-02,3
12,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",9.01e-02,2
13,wild type,"(Dictybase, Phenotypes)",1.72e-01,3
14,cytoskeleton,"(GO, cellular_component)",2.00e-01,2
15,DNA binding,"(GO, molecular_function)",2.44e-01,2

***  C17 selected: 31 with EID: 31
Ratio of genes annotated with a gene set in reference 0.32 and query 0.26
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 2 out of 8 query genes used for enrichment calculation.

                  Gene set                  Ontology       FDR  N in query
0  oxidoreductase activity  (GO, molecular_function)  2.31e-01           2

***  C18 selected: 31 with EID: 31
Ratio of genes annotated with a gene set in reference 0.32 and query 0.71
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 20 out of 22 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome biogenesis in eukaryotes,"(KEGG, Pathways)",3.09e-15,12
1,nucleolus,"(GO, cellular_component)",2.23e-13,11
2,ribosome biogenesis,"(GO, biological_process)",1.47e-12,10
3,ribonucleoprotein complex assembly,"(GO, biological_process)",1.76e-05,4
4,RNA binding,"(GO, molecular_function)",9.85e-04,6
5,rRNA binding,"(GO, molecular_function)",7.86e-03,2
6,protein-containing complex assembly,"(GO, biological_process)",2.21e-02,4
7,cellular component assembly,"(GO, biological_process)",6.78e-02,4
8,helicase activity,"(GO, molecular_function)",7.54e-02,2
9,methyltransferase activity,"(GO, molecular_function)",8.06e-02,2

***  C19 selected: 20 with EID: 20
Ratio of genes annotated with a gene set in reference 0.32 and query 0.9
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 18 out of 18 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,ribosome,"(GO, cellular_component)",1.92e-26,17
1,Ribosome,"(KEGG, Pathways)",2.10e-26,17
2,structural constituent of ribosome,"(GO, molecular_function)",1.65e-22,15
3,structural molecule activity,"(GO, molecular_function)",2.13e-20,15
4,translation,"(GO, biological_process)",3.87e-16,14
5,rRNA binding,"(GO, molecular_function)",8.21e-05,3
6,RNA binding,"(GO, molecular_function)",2.30e-03,5
7,cytosol,"(GO, cellular_component)",4.53e-03,5
8,ribosome biogenesis,"(GO, biological_process)",6.00e-03,3
9,delayed development,"(Dictybase, Phenotypes)",8.30e-02,2

***  C20 selected: 1 with EID: 1
Ratio of genes annotated with a gene set in reference 0.32 and query 0.0
Enrichment at FDR: 0.25 and min query - gene set overlap 2

UnboundLocalError: local variable 'query_in_enriched' referenced before assignment