# Enrichment of regulons from Regulons_by_strain

In [1]:
import os
import sys
from importlib import reload

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.insert(0,module_path)

import pandas as pd
from IPython.display import display
pd.set_option('max_colwidth', 70)
pd.set_option('display.max_rows', 500)
import string

from orangecontrib.bioinformatics.geneset.__init__ import list_all

import jupyter_functions as jf
reload(jf)
import jupyter_functions as jf
from functionsDENet import loadPickle, savePickle
import stages_DE.enrichment_library as enr
reload(enr)
import stages_DE.enrichment_library as enr

In [2]:
#Path for expression data (mergedGenes_RPKUM.tsv)
dataPath='/home/karin/Documents/timeTrajectories/data/RPKUM/combined/'
#Path for regulons
pathRegulons='/home/karin/Documents/timeTrajectories/data/regulons/by_strain/kN300_mean0std1_log/'

## Used gene sets
Use gene sets that do not have less than 5 or more than 500 genes. Use all ontologies.

In [18]:
# Get all gene sets
gene_sets=list(list_all(organism='44689'))
GENE_SETS_ONTOLOGY=enr.get_gene_sets(gene_set_names=gene_sets, go_slims=True,set_sizes=(5,500))

In [13]:
# For conversion of gene names to EID
genes = pd.read_csv(dataPath + 'mergedGenes_RPKUM.tsv', sep='\t', index_col=0)
all_gene_names= genes[(genes != 0).any(axis=1)].index
NAME_EID=enr.name_genes_entrez(gene_names=all_gene_names, key_entrez=False)
ALL_GENE_NAMES_EID=enr.convert_EID(genes=all_gene_names, name_EID=NAME_EID)

In [14]:
def group_diff_enrichment(data:pd.DataFrame,group:str,padj:float=0.25,min_overlap:int=None,
                          use_annotated_genes:bool=False):
    #Displays only gene sets that have overlap with query greater or equal to min_overlap 
    #For p value and padj calculation uses alll that have overlap >=1 } from gene_set_enrichment
    """
    :param use_annotated_genes: if True use for reference and query  only genes that have at 
    least one gene set annotation
    """
    selected=list(data[data['Cluster']==group].index)
    query_EID=enr.convert_EID(genes=selected, name_EID=NAME_EID)
    print('***  '+group+' selected:',len(selected),'with EID:',len(query_EID))
    
    reference_gene_eids=ALL_GENE_NAMES_EID.copy()
    query_eids=query_EID.copy()
    
    if use_annotated_genes:
        gene_sets_genes=set()
        for gene_set_name, gene_sets in GENE_SETS_ONTOLOGY.items():
            for gene_set in gene_sets:
                gene_sets_genes.update(gene_set.genes)
        reference_gene_eids=set(reference_gene_eids) & gene_sets_genes
        query_eids=set(query_eids) & gene_sets_genes
        print('Ratio of genes annotated with a gene set in reference',
              round(len(reference_gene_eids)/len(ALL_GENE_NAMES_EID),2),
             'and query',round(len(query_eids)/len(query_EID),2))
    
    query_in_enriched=set()
    result=None
    if len(query_eids) > 0:
        enrichment=enr.gene_set_enrichment(query_eids, reference_EID=reference_gene_eids, 
                                                padj_threshold=padj,min_overlap=min_overlap,
                                                gene_sets_ontology=GENE_SETS_ONTOLOGY)
        if len(enrichment)>0:
            enrichment_display=list()
            enrichment= sorted(enrichment, key=lambda data: data.padj)
            for enriched in enrichment:
                query_in_enriched.update(enriched.gene_set.genes & query_eids)
                enrichment_display.append({'Gene set':enriched.gene_set.name,'Ontology':enriched.ontology,
                                           'FDR':"{:.2e}".format(enriched.padj),'N in query':enriched.in_query})
            result=pd.DataFrame(enrichment_display)
    print('Enrichment at FDR: '+str(padj)+' and min query - gene set overlap',str(min_overlap))
    print('N query genes in displayed gene sets:',len(query_in_enriched),'out of', len(query_eids),
          'query genes used for enrichment calculation.')
    display(result)
    print('\n')
    return result

## Enrichment reports

In [16]:
save_enrichment=False

### Enrichment for expression_minExpressed0.990.1Strains1Min1Max18_clustersLouvain0.4minmaxNologPCA30kN30.pdf

In [15]:
regulons=pd.read_table(pathRegulons+'mergedGenes_minExpressed0.990.1Strains1Min1Max18_clustersLouvain0.4minmaxNologPCA30kN30.tab',index_col=0)
for group in range(1,len(regulons['Cluster'].unique())+1):
    enriched=group_diff_enrichment(data=regulons,group='C'+str(group),min_overlap=2)
    if save_enrichment and enriched is not None:
        enriched.to_csv(pathRegulons+'enrichment/minExpressed0.990.1Strains1Min1Max18_clustersLouvain0.4minmaxNologPCA30kN30_enrichment_cluster'+str(group)+'.tsv', sep='\t',index=False)

***  C1 selected: 30 with EID: 30
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 20 out of 30 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome biogenesis in eukaryotes,"(KEGG, Pathways)",3.61e-19,12
1,nucleolus,"(GO, cellular_component)",4.81e-17,11
2,ribosome biogenesis,"(GO, biological_process)",5.97e-16,10
3,ribonucleoprotein complex assembly,"(GO, biological_process)",3.39e-07,4
4,RNA binding,"(GO, molecular_function)",8.74e-06,6
5,protein-containing complex assembly,"(GO, biological_process)",7.59e-04,4
6,rRNA binding,"(GO, molecular_function)",1.00e-03,2
7,cellular component assembly,"(GO, biological_process)",2.69e-03,4
8,helicase activity,"(GO, molecular_function)",1.20e-02,2
9,methyltransferase activity,"(GO, molecular_function)",1.30e-02,2
10,ATPase activity,"(GO, molecular_function)",7.70e-02,2

***  C2 selected: 66 with EID: 65
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 34 out of 65 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Oxidative phosphorylation,"(KEGG, Pathways)",6.91e-10,9
1,Metabolic pathways,"(KEGG, Pathways)",3.34e-08,19
2,mitochondrion,"(GO, cellular_component)",8.58e-05,9
3,Citrate cycle (TCA cycle),"(KEGG, Pathways)",3.86e-04,4
4,Phagosome,"(KEGG, Pathways)",2.80e-03,4
5,generation of precursor metabolites and energy,"(GO, biological_process)",1.06e-02,4
6,cytoplasmic vesicle,"(GO, cellular_component)",1.06e-02,6
7,protein folding,"(GO, biological_process)",1.06e-02,3
8,aberrant cellular response to stress,"(Dictybase, Phenotypes)",1.44e-02,2
9,Ribosome,"(KEGG, Pathways)",1.50e-02,4
10,Biosynthesis of secondary metabolites,"(KEGG, Pathways)",2.87e-02,6
11,Various types of N-glycan biosynthesis,"(KEGG, Pathways)",4.37e-02,2
12,cell morphogenesis,"(GO, biological_process)",4.41e-02,2
13,transmembrane transporter activity,"(GO, molecular_function)",4.97e-02,4
14,unfolded protein binding,"(GO, molecular_function)",5.23e-02,2
15,transmembrane transport,"(GO, biological_process)",5.69e-02,4
16,N-Glycan biosynthesis,"(KEGG, Pathways)",5.69e-02,2
17,Propanoate metabolism,"(KEGG, Pathways)",6.05e-02,2
18,Carbon metabolism,"(KEGG, Pathways)",7.01e-02,3
19,aberrant cell morphology,"(Dictybase, Phenotypes)",7.94e-02,2
20,cytosol,"(GO, cellular_component)",8.19e-02,4
21,oxidoreductase activity,"(GO, molecular_function)",8.37e-02,4
22,vacuole,"(GO, cellular_component)",1.00e-01,3
23,aberrant streaming,"(Dictybase, Phenotypes)",1.53e-01,2
24,ligase activity,"(GO, molecular_function)",1.64e-01,2
25,Protein processing in endoplasmic reticulum,"(KEGG, Pathways)",1.89e-01,2
26,aberrant cytokinesis,"(Dictybase, Phenotypes)",2.10e-01,2
27,mitotic cell cycle,"(GO, biological_process)",2.12e-01,2
28,small molecule metabolic process,"(GO, biological_process)",2.38e-01,4
29,cell division,"(GO, biological_process)",2.48e-01,2

***  C3 selected: 68 with EID: 68
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 62 out of 68 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome,"(KEGG, Pathways)",6.41e-126,60
1,ribosome,"(GO, cellular_component)",1.47e-124,59
2,structural constituent of ribosome,"(GO, molecular_function)",8.17e-109,53
3,structural molecule activity,"(GO, molecular_function)",1.72e-98,53
4,translation,"(GO, biological_process)",1.79e-85,52
5,RNA binding,"(GO, molecular_function)",3.26e-15,16
6,rRNA binding,"(GO, molecular_function)",8.86e-13,7
7,cytosol,"(GO, cellular_component)",6.12e-05,8
8,ribosome biogenesis,"(GO, biological_process)",1.68e-02,3
9,delayed development,"(Dictybase, Phenotypes)",1.83e-01,2

***  C4 selected: 55 with EID: 55
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 21 out of 55 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cytoskeletal protein binding,"(GO, molecular_function)",6.35e-08,10
1,Endocytosis,"(KEGG, Pathways)",3.98e-04,5
2,protein-containing complex assembly,"(GO, biological_process)",2.03e-03,5
3,cytoskeleton organization,"(GO, biological_process)",2.03e-03,6
4,cellular component assembly,"(GO, biological_process)",2.03e-03,6
5,plasma membrane,"(GO, cellular_component)",2.03e-03,7
6,response to stress,"(GO, biological_process)",5.71e-03,7
7,cytoskeleton,"(GO, cellular_component)",6.80e-03,5
8,cytoplasmic vesicle,"(GO, cellular_component)",5.22e-02,4
9,cytosol,"(GO, cellular_component)",5.22e-02,4
10,decreased cell motility,"(Dictybase, Phenotypes)",1.48e-01,2
11,wild type,"(Dictybase, Phenotypes)",1.62e-01,4
12,vesicle-mediated transport,"(GO, biological_process)",1.80e-01,3

***  C5 selected: 41 with EID: 41
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 38 out of 41 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Proteasome,"(KEGG, Pathways)",2.80e-69,29
1,peptidase activity,"(GO, molecular_function)",7.55e-34,21
2,catabolic process,"(GO, biological_process)",1.60e-31,25
3,response to stress,"(GO, biological_process)",3.73e-02,5
4,enzyme regulator activity,"(GO, molecular_function)",3.73e-02,3
5,ATPase activity,"(GO, molecular_function)",8.15e-02,3
6,Protein processing in endoplasmic reticulum,"(KEGG, Pathways)",1.35e-01,2

***  C6 selected: 74 with EID: 74
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 24 out of 74 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,anatomical structure development,"(GO, biological_process)",4.37e-06,15
1,cell adhesion,"(GO, biological_process)",7.92e-03,5
2,development arrests at loose mound stage,"(Dictybase, Phenotypes)",8.48e-03,3
3,extracellular region,"(GO, cellular_component)",1.02e-02,6
4,Glycosaminoglycan degradation,"(KEGG, Pathways)",1.22e-02,2
5,signal transduction,"(GO, biological_process)",1.47e-02,8
6,decreased aggregate size,"(Dictybase, Phenotypes)",1.47e-02,3
7,increased slug migration,"(Dictybase, Phenotypes)",1.47e-02,2
8,decreased fruiting body size,"(Dictybase, Phenotypes)",1.47e-02,4
9,response to stress,"(GO, biological_process)",1.53e-02,8
10,locomotion,"(GO, biological_process)",3.86e-02,5
11,plasma membrane,"(GO, cellular_component)",3.86e-02,6
12,aberrant aggregation,"(Dictybase, Phenotypes)",3.86e-02,3
13,multiple tips in mound,"(Dictybase, Phenotypes)",3.86e-02,2
14,abolished gene expression,"(Dictybase, Phenotypes)",5.94e-02,2
15,cell differentiation,"(GO, biological_process)",6.03e-02,4
16,precocious development,"(Dictybase, Phenotypes)",6.27e-02,2
17,decreased gene expression,"(Dictybase, Phenotypes)",6.89e-02,3
18,decreased chemotaxis rate,"(Dictybase, Phenotypes)",8.11e-02,2
19,aberrant F-actin organization,"(Dictybase, Phenotypes)",8.11e-02,2
20,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",8.11e-02,3
21,cell motility,"(GO, biological_process)",1.53e-01,2
22,decreased cell motility,"(Dictybase, Phenotypes)",1.64e-01,2
23,abolished aggregation,"(Dictybase, Phenotypes)",1.72e-01,2
24,cytoskeleton,"(GO, cellular_component)",1.93e-01,3
25,cytoskeleton organization,"(GO, biological_process)",2.06e-01,3
26,wild type,"(Dictybase, Phenotypes)",2.40e-01,4

***  C7 selected: 40 with EID: 40
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 13 out of 40 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,aberrant CRAC localization to the plasma membrane,"(Dictybase, Phenotypes)",1.49e-02,2
1,decreased intracellular cAMP level,"(Dictybase, Phenotypes)",1.62e-02,2
2,development arrests at tipped mound stage,"(Dictybase, Phenotypes)",1.62e-02,2
3,translucent sorus,"(Dictybase, Phenotypes)",1.62e-02,2
4,anatomical structure development,"(GO, biological_process)",3.18e-02,6
5,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",3.18e-02,3
6,cell death,"(GO, biological_process)",3.18e-02,2
7,kinase activity,"(GO, molecular_function)",3.47e-02,5
8,cell differentiation,"(GO, biological_process)",4.78e-02,3
9,RNA degradation,"(KEGG, Pathways)",4.78e-02,2
10,aberrant aggregation,"(Dictybase, Phenotypes)",4.79e-02,2
11,decreased chemotaxis to cAMP,"(Dictybase, Phenotypes)",4.85e-02,2
12,locomotion,"(GO, biological_process)",5.65e-02,3
13,decreased fruiting body size,"(Dictybase, Phenotypes)",5.85e-02,2
14,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",8.01e-02,2
15,wild type,"(Dictybase, Phenotypes)",1.47e-01,3
16,cytoskeleton,"(GO, cellular_component)",1.74e-01,2
17,DNA binding,"(GO, molecular_function)",2.13e-01,2

***  C8 selected: 23 with EID: 23
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 3 out of 23 query genes used for enrichment calculation.

          Gene set                  Ontology       FDR  N in query
0  kinase activity  (GO, molecular_function)  1.10e-01           3

***  C9 selected: 20 with EID: 20
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 0 out of 20 query genes used for enrichment calculation.

None

***  C10 selected: 36 with EID: 36
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 18 out of 36 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell cycle,"(GO, biological_process)",2.14e-14,13
1,chromosome segregation,"(GO, biological_process)",1.37e-10,6
2,mitotic nuclear division,"(GO, biological_process)",5.90e-09,5
3,mitotic cell cycle,"(GO, biological_process)",1.21e-07,7
4,cell division,"(GO, biological_process)",2.24e-07,7
5,DNA replication,"(KEGG, Pathways)",2.24e-07,5
6,chromosome,"(GO, cellular_component)",2.48e-07,6
7,chromosome organization,"(GO, biological_process)",3.04e-07,6
8,cytoskeleton,"(GO, cellular_component)",3.71e-06,7
9,cytoskeleton organization,"(GO, biological_process)",9.23e-04,5
10,microtubule organizing center,"(GO, cellular_component)",1.41e-03,3
11,cytoskeletal protein binding,"(GO, molecular_function)",3.51e-03,4
12,DNA metabolic process,"(GO, biological_process)",7.12e-02,2
13,ATPase activity,"(GO, molecular_function)",1.41e-01,2
14,plasma membrane,"(GO, cellular_component)",2.41e-01,2

***  C11 selected: 77 with EID: 77
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 12 out of 77 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell differentiation,"(GO, biological_process)",2.85e-03,7
1,anatomical structure development,"(GO, biological_process)",1.13e-01,7
2,cell adhesion,"(GO, biological_process)",1.13e-01,3
3,Starch and sucrose metabolism,"(KEGG, Pathways)",1.13e-01,2
4,decreased sporulation,"(Dictybase, Phenotypes)",1.51e-01,2
5,development arrests at mound stage,"(Dictybase, Phenotypes)",1.51e-01,2
6,abolished culmination,"(Dictybase, Phenotypes)",1.73e-01,2
7,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",2.09e-01,2
8,delayed aggregation,"(Dictybase, Phenotypes)",2.09e-01,2

***  C12 selected: 57 with EID: 57
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 9 out of 57 query genes used for enrichment calculation.

                    Gene set                  Ontology       FDR  N in query
0       extracellular region  (GO, cellular_component)  3.44e-04           7
1        cell-cell signaling  (GO, biological_process)  5.67e-02           2
2  decreased spore viability   (Dictybase, Phenotypes)  1.87e-01           2
3         peptidase activity  (GO, molecular_function)  2.07e-01           2

***  C13 selected: 64 with EID: 64
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 4 out of 64 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,aberrant cell-cell adhesion,"(Dictybase, Phenotypes)",4.46e-03,2
1,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",1.95e-01,2

***  C14 selected: 19 with EID: 19
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 0 out of 19 query genes used for enrichment calculation.

None

***  C15 selected: 91 with EID: 91
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 34 out of 91 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell wall,"(GO, cellular_component)",8.23e-11,7
1,external encapsulating structure,"(GO, cellular_component)",8.23e-11,7
2,aberrant spore coat morphology,"(Dictybase, Phenotypes)",4.29e-09,6
3,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",8.53e-08,9
4,cell wall organization or biogenesis,"(GO, biological_process)",1.17e-06,5
5,cell differentiation,"(GO, biological_process)",1.85e-06,10
6,anatomical structure development,"(GO, biological_process)",2.77e-04,13
7,abolished cellulose binding,"(Dictybase, Phenotypes)",7.13e-04,2
8,Starch and sucrose metabolism,"(KEGG, Pathways)",8.81e-04,4
9,extracellular region,"(GO, cellular_component)",1.06e-02,6
10,abolished stalk cell differentiation,"(Dictybase, Phenotypes)",1.06e-02,2
11,cellular component assembly,"(GO, biological_process)",2.99e-02,6
12,Metabolic pathways,"(KEGG, Pathways)",2.99e-02,12
13,carbohydrate metabolic process,"(GO, biological_process)",3.05e-02,4
14,DNA binding,"(GO, molecular_function)",4.10e-02,6
15,decreased spore viability,"(Dictybase, Phenotypes)",6.21e-02,3
16,Glutathione metabolism,"(KEGG, Pathways)",8.20e-02,2
17,abolished sporulation,"(Dictybase, Phenotypes)",8.20e-02,2
18,aberrant culmination,"(Dictybase, Phenotypes)",1.29e-01,3

***  C16 selected: 74 with EID: 74
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 8 out of 74 query genes used for enrichment calculation.

               Gene set                  Ontology       FDR  N in query
0  extracellular region  (GO, cellular_component)  1.49e-04           8

***  C17 selected: 61 with EID: 59
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 0 out of 59 query genes used for enrichment calculation.

None

***  C18 selected: 46 with EID: 45
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 10 out of 45 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,extracellular region,"(GO, cellular_component)",4.79e-04,6
1,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",2.82e-02,3
2,cell differentiation,"(GO, biological_process)",1.21e-01,3
3,oxidoreductase activity,"(GO, molecular_function)",1.52e-01,3

***  C19 selected: 58 with EID: 58
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 9 out of 58 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell adhesion,"(GO, biological_process)",8.13e-02,3
1,extracellular region,"(GO, cellular_component)",8.13e-02,4
2,hydrolase activity,"(GO, molecular_function)",1.23e-01,2
3,cell differentiation,"(GO, biological_process)",1.59e-01,3
4,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",1.76e-01,2

***  C20 selected: 54 with EID: 54
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 4 out of 54 query genes used for enrichment calculation.

                    Gene set                 Ontology       FDR  N in query
0                  Phagosome         (KEGG, Pathways)  2.42e-01           2
1  decreased spore viability  (Dictybase, Phenotypes)  2.42e-01           2

***  C21 selected: 45 with EID: 45
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 0 out of 45 query genes used for enrichment calculation.

None

#### Using only genes annotated with at least one gene set 
To find genes that have gene set annotations only gene sets used in enrichment are used (see above). Genes that are in at least one of these gene sets are used for enrichment calculation, both for reference and gene group of interest (query).

In [19]:
regulons=pd.read_table(pathRegulons+'mergedGenes_minExpressed0.990.1Strains1Min1Max18_clustersLouvain0.4minmaxNologPCA30kN30.tab',index_col=0)
for group in range(1,len(regulons['Cluster'].unique())+1):
    enriched=group_diff_enrichment(data=regulons,group='C'+str(group),min_overlap=2,use_annotated_genes=True)
    if  save_enrichment and enriched is not None:
        enriched.to_csv(pathRegulons+'enrichment/minExpressed0.990.1Strains1Min1Max18_clustersLouvain0.4minmaxNologPCA30kN30_annotatedOnly_enrichment_cluster'+str(group)+'.tsv', sep='\t',index=False)

***  C1 selected: 30 with EID: 30
Ratio of genes annotated with a gene set in reference 0.32 and query 0.7
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 20 out of 21 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome biogenesis in eukaryotes,"(KEGG, Pathways)",1.07e-15,12
1,nucleolus,"(GO, cellular_component)",8.54e-14,11
2,ribosome biogenesis,"(GO, biological_process)",6.14e-13,10
3,ribonucleoprotein complex assembly,"(GO, biological_process)",7.00e-06,4
4,RNA binding,"(GO, molecular_function)",5.82e-04,6
5,rRNA binding,"(GO, molecular_function)",5.45e-03,2
6,protein-containing complex assembly,"(GO, biological_process)",1.09e-02,4
7,cellular component assembly,"(GO, biological_process)",3.99e-02,4
8,helicase activity,"(GO, molecular_function)",5.26e-02,2
9,methyltransferase activity,"(GO, molecular_function)",5.62e-02,2

***  C2 selected: 66 with EID: 65
Ratio of genes annotated with a gene set in reference 0.32 and query 0.58
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 34 out of 38 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Oxidative phosphorylation,"(KEGG, Pathways)",9.24e-08,9
1,Metabolic pathways,"(KEGG, Pathways)",1.10e-04,19
2,Citrate cycle (TCA cycle),"(KEGG, Pathways)",5.02e-03,4
3,mitochondrion,"(GO, cellular_component)",5.37e-03,9
4,Phagosome,"(KEGG, Pathways)",2.56e-02,4
5,protein folding,"(GO, biological_process)",6.55e-02,3
6,aberrant cellular response to stress,"(Dictybase, Phenotypes)",6.55e-02,2
7,generation of precursor metabolites and energy,"(GO, biological_process)",6.72e-02,4
8,cytoplasmic vesicle,"(GO, cellular_component)",1.29e-01,6
9,Ribosome,"(KEGG, Pathways)",1.29e-01,4
10,Various types of N-glycan biosynthesis,"(KEGG, Pathways)",1.50e-01,2
11,cell morphogenesis,"(GO, biological_process)",1.50e-01,2
12,unfolded protein binding,"(GO, molecular_function)",1.70e-01,2
13,N-Glycan biosynthesis,"(KEGG, Pathways)",1.85e-01,2
14,Propanoate metabolism,"(KEGG, Pathways)",1.88e-01,2
15,Biosynthesis of secondary metabolites,"(KEGG, Pathways)",2.35e-01,6
16,aberrant cell morphology,"(Dictybase, Phenotypes)",2.38e-01,2
17,transmembrane transporter activity,"(GO, molecular_function)",2.38e-01,4
18,Carbon metabolism,"(KEGG, Pathways)",2.46e-01,3
19,transmembrane transport,"(GO, biological_process)",2.46e-01,4

***  C3 selected: 68 with EID: 68
Ratio of genes annotated with a gene set in reference 0.32 and query 0.97
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 62 out of 66 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome,"(KEGG, Pathways)",6.26e-98,60
1,ribosome,"(GO, cellular_component)",5.80e-97,59
2,structural constituent of ribosome,"(GO, molecular_function)",9.05e-84,53
3,structural molecule activity,"(GO, molecular_function)",1.78e-73,53
4,translation,"(GO, biological_process)",5.85e-61,52
5,rRNA binding,"(GO, molecular_function)",2.35e-09,7
6,RNA binding,"(GO, molecular_function)",4.10e-08,16
7,cytosol,"(GO, cellular_component)",7.86e-02,8

***  C4 selected: 55 with EID: 55
Ratio of genes annotated with a gene set in reference 0.32 and query 0.44
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 18 out of 24 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cytoskeletal protein binding,"(GO, molecular_function)",3.97e-07,10
1,Endocytosis,"(KEGG, Pathways)",1.41e-03,5
2,plasma membrane,"(GO, cellular_component)",6.90e-03,7
3,cytoskeleton organization,"(GO, biological_process)",6.90e-03,6
4,cellular component assembly,"(GO, biological_process)",6.90e-03,6
5,protein-containing complex assembly,"(GO, biological_process)",6.90e-03,5
6,cytoskeleton,"(GO, cellular_component)",2.23e-02,5
7,response to stress,"(GO, biological_process)",2.23e-02,7
8,cytosol,"(GO, cellular_component)",1.30e-01,4
9,cytoplasmic vesicle,"(GO, cellular_component)",1.33e-01,4
10,decreased cell motility,"(Dictybase, Phenotypes)",2.33e-01,2

***  C5 selected: 41 with EID: 41
Ratio of genes annotated with a gene set in reference 0.32 and query 0.98
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 35 out of 40 query genes used for enrichment calculation.

             Gene set                  Ontology       FDR  N in query
0          Proteasome          (KEGG, Pathways)  2.15e-55          29
1  peptidase activity  (GO, molecular_function)  8.13e-24          21
2   catabolic process  (GO, biological_process)  9.51e-20          25

***  C6 selected: 74 with EID: 74
Ratio of genes annotated with a gene set in reference 0.32 and query 0.42
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 24 out of 31 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,anatomical structure development,"(GO, biological_process)",2.55e-05,15
1,cell adhesion,"(GO, biological_process)",1.78e-02,5
2,development arrests at loose mound stage,"(Dictybase, Phenotypes)",1.78e-02,3
3,Glycosaminoglycan degradation,"(KEGG, Pathways)",2.56e-02,2
4,extracellular region,"(GO, cellular_component)",2.73e-02,6
5,decreased aggregate size,"(Dictybase, Phenotypes)",3.12e-02,3
6,increased slug migration,"(Dictybase, Phenotypes)",3.12e-02,2
7,decreased fruiting body size,"(Dictybase, Phenotypes)",3.76e-02,4
8,signal transduction,"(GO, biological_process)",5.92e-02,8
9,response to stress,"(GO, biological_process)",6.12e-02,8
10,multiple tips in mound,"(Dictybase, Phenotypes)",6.57e-02,2
11,aberrant aggregation,"(Dictybase, Phenotypes)",8.49e-02,3
12,plasma membrane,"(GO, cellular_component)",8.62e-02,6
13,locomotion,"(GO, biological_process)",8.62e-02,5
14,abolished gene expression,"(Dictybase, Phenotypes)",8.62e-02,2
15,precocious development,"(Dictybase, Phenotypes)",1.08e-01,2
16,cell differentiation,"(GO, biological_process)",1.15e-01,4
17,decreased gene expression,"(Dictybase, Phenotypes)",1.16e-01,3
18,decreased chemotaxis rate,"(Dictybase, Phenotypes)",1.16e-01,2
19,aberrant F-actin organization,"(Dictybase, Phenotypes)",1.19e-01,2
20,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",1.31e-01,3
21,cell motility,"(GO, biological_process)",2.14e-01,2
22,decreased cell motility,"(Dictybase, Phenotypes)",2.39e-01,2

***  C7 selected: 40 with EID: 40
Ratio of genes annotated with a gene set in reference 0.32 and query 0.38
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 12 out of 15 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,aberrant CRAC localization to the plasma membrane,"(Dictybase, Phenotypes)",1.98e-02,2
1,translucent sorus,"(Dictybase, Phenotypes)",2.15e-02,2
2,decreased intracellular cAMP level,"(Dictybase, Phenotypes)",2.15e-02,2
3,development arrests at tipped mound stage,"(Dictybase, Phenotypes)",2.15e-02,2
4,anatomical structure development,"(GO, biological_process)",3.79e-02,6
5,cell death,"(GO, biological_process)",3.79e-02,2
6,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",3.79e-02,3
7,kinase activity,"(GO, molecular_function)",5.11e-02,5
8,RNA degradation,"(KEGG, Pathways)",5.62e-02,2
9,cell differentiation,"(GO, biological_process)",5.62e-02,3
10,decreased chemotaxis to cAMP,"(Dictybase, Phenotypes)",5.82e-02,2
11,aberrant aggregation,"(Dictybase, Phenotypes)",5.82e-02,2
12,locomotion,"(GO, biological_process)",7.38e-02,3
13,decreased fruiting body size,"(Dictybase, Phenotypes)",7.38e-02,2
14,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",9.66e-02,2
15,wild type,"(Dictybase, Phenotypes)",1.94e-01,3
16,cytoskeleton,"(GO, cellular_component)",2.20e-01,2

***  C8 selected: 23 with EID: 23
Ratio of genes annotated with a gene set in reference 0.32 and query 0.26
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 3 out of 6 query genes used for enrichment calculation.

          Gene set                  Ontology       FDR  N in query
0  kinase activity  (GO, molecular_function)  4.70e-02           3

***  C9 selected: 20 with EID: 20
Ratio of genes annotated with a gene set in reference 0.32 and query 0.0
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 0 out of 0 query genes used for enrichment calculation.

None

***  C10 selected: 36 with EID: 36
Ratio of genes annotated with a gene set in reference 0.32 and query 0.53
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 18 out of 19 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell cycle,"(GO, biological_process)",7.55e-13,13
1,chromosome segregation,"(GO, biological_process)",1.80e-09,6
2,mitotic nuclear division,"(GO, biological_process)",5.47e-08,5
3,mitotic cell cycle,"(GO, biological_process)",2.07e-06,7
4,DNA replication,"(KEGG, Pathways)",2.46e-06,5
5,chromosome,"(GO, cellular_component)",3.13e-06,6
6,cell division,"(GO, biological_process)",3.13e-06,7
7,chromosome organization,"(GO, biological_process)",3.83e-06,6
8,cytoskeleton,"(GO, cellular_component)",5.96e-05,7
9,microtubule organizing center,"(GO, cellular_component)",6.16e-03,3
10,cytoskeleton organization,"(GO, biological_process)",6.60e-03,5
11,cytoskeletal protein binding,"(GO, molecular_function)",1.64e-02,4
12,DNA metabolic process,"(GO, biological_process)",1.71e-01,2

***  C11 selected: 77 with EID: 77
Ratio of genes annotated with a gene set in reference 0.32 and query 0.29
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 15 out of 22 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell differentiation,"(GO, biological_process)",7.53e-04,7
1,anatomical structure development,"(GO, biological_process)",8.52e-02,7
2,Starch and sucrose metabolism,"(KEGG, Pathways)",9.79e-02,2
3,cell adhesion,"(GO, biological_process)",9.79e-02,3
4,decreased sporulation,"(Dictybase, Phenotypes)",1.26e-01,2
5,development arrests at mound stage,"(Dictybase, Phenotypes)",1.26e-01,2
6,abolished culmination,"(Dictybase, Phenotypes)",1.45e-01,2
7,delayed aggregation,"(Dictybase, Phenotypes)",1.77e-01,2
8,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",1.79e-01,2
9,peptidase activity,"(GO, molecular_function)",2.22e-01,2
10,cytoskeleton organization,"(GO, biological_process)",2.22e-01,3
11,cellular component assembly,"(GO, biological_process)",2.23e-01,3
12,wild type,"(Dictybase, Phenotypes)",2.45e-01,4

***  C12 selected: 57 with EID: 57
Ratio of genes annotated with a gene set in reference 0.32 and query 0.25
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 11 out of 14 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,extracellular region,"(GO, cellular_component)",1.80e-05,7
1,cell-cell signaling,"(GO, biological_process)",3.22e-02,2
2,decreased spore viability,"(Dictybase, Phenotypes)",1.20e-01,2
3,peptidase activity,"(GO, molecular_function)",1.42e-01,2
4,plasma membrane,"(GO, cellular_component)",1.71e-01,3
5,anatomical structure development,"(GO, biological_process)",1.71e-01,4

***  C13 selected: 64 with EID: 64
Ratio of genes annotated with a gene set in reference 0.32 and query 0.16
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 6 out of 10 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,aberrant cell-cell adhesion,"(Dictybase, Phenotypes)",9.84e-04,2
1,anatomical structure development,"(GO, biological_process)",5.71e-02,4
2,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",5.89e-02,2
3,extracellular region,"(GO, cellular_component)",9.81e-02,2

***  C14 selected: 19 with EID: 19
Ratio of genes annotated with a gene set in reference 0.32 and query 0.05
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 0 out of 1 query genes used for enrichment calculation.

None

***  C15 selected: 91 with EID: 91
Ratio of genes annotated with a gene set in reference 0.32 and query 0.45
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 34 out of 41 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell wall,"(GO, cellular_component)",6.78e-10,7
1,external encapsulating structure,"(GO, cellular_component)",6.78e-10,7
2,aberrant spore coat morphology,"(Dictybase, Phenotypes)",2.73e-08,6
3,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",1.03e-06,9
4,cell wall organization or biogenesis,"(GO, biological_process)",5.63e-06,5
5,cell differentiation,"(GO, biological_process)",2.52e-05,10
6,abolished cellulose binding,"(Dictybase, Phenotypes)",1.60e-03,2
7,Starch and sucrose metabolism,"(KEGG, Pathways)",3.45e-03,4
8,anatomical structure development,"(GO, biological_process)",3.72e-03,13
9,abolished stalk cell differentiation,"(Dictybase, Phenotypes)",2.28e-02,2
10,extracellular region,"(GO, cellular_component)",4.99e-02,6
11,carbohydrate metabolic process,"(GO, biological_process)",1.11e-01,4
12,cellular component assembly,"(GO, biological_process)",1.35e-01,6
13,Glutathione metabolism,"(KEGG, Pathways)",1.61e-01,2
14,abolished sporulation,"(Dictybase, Phenotypes)",1.61e-01,2
15,decreased spore viability,"(Dictybase, Phenotypes)",1.61e-01,3
16,DNA binding,"(GO, molecular_function)",1.61e-01,6
17,Metabolic pathways,"(KEGG, Pathways)",1.82e-01,12
18,aberrant culmination,"(Dictybase, Phenotypes)",2.29e-01,3

***  C16 selected: 74 with EID: 74
Ratio of genes annotated with a gene set in reference 0.32 and query 0.23
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 15 out of 17 query genes used for enrichment calculation.

                    Gene set                  Ontology       FDR  N in query
0       extracellular region  (GO, cellular_component)  3.37e-06           8
1                  wild type   (Dictybase, Phenotypes)  1.38e-01           5
2  decreased gene expression   (Dictybase, Phenotypes)  2.02e-01           2
3  decreased spore viability   (Dictybase, Phenotypes)  2.02e-01           2
4                DNA binding  (GO, molecular_function)  2.11e-01           3

***  C17 selected: 61 with EID: 59
Ratio of genes annotated with a gene set in reference 0.32 and query 0.2
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 4 out of 12 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,anatomical structure development,"(GO, biological_process)",2.34e-01,4

***  C18 selected: 46 with EID: 45
Ratio of genes annotated with a gene set in reference 0.32 and query 0.33
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 10 out of 15 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,extracellular region,"(GO, cellular_component)",3.13e-04,6
1,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",2.84e-02,3
2,cell differentiation,"(GO, biological_process)",1.23e-01,3
3,oxidoreductase activity,"(GO, molecular_function)",1.59e-01,3

***  C19 selected: 58 with EID: 58
Ratio of genes annotated with a gene set in reference 0.32 and query 0.21
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 9 out of 12 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,extracellular region,"(GO, cellular_component)",2.26e-02,4
1,cell adhesion,"(GO, biological_process)",2.26e-02,3
2,cell differentiation,"(GO, biological_process)",4.39e-02,3
3,hydrolase activity,"(GO, molecular_function)",4.39e-02,2
4,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",8.83e-02,2

***  C20 selected: 54 with EID: 54
Ratio of genes annotated with a gene set in reference 0.32 and query 0.2
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 6 out of 11 query genes used for enrichment calculation.

                    Gene set                  Ontology       FDR  N in query
0                  Phagosome          (KEGG, Pathways)  1.55e-01           2
1  decreased spore viability   (Dictybase, Phenotypes)  1.55e-01           2
2       extracellular region  (GO, cellular_component)  2.44e-01           2

***  C21 selected: 45 with EID: 45
Ratio of genes annotated with a gene set in reference 0.32 and query 0.13
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 3 out of 6 query genes used for enrichment calculation.

             Gene set                  Ontology       FDR  N in query
0             cytosol  (GO, cellular_component)  2.24e-01           2
1  response to stress  (GO, biological_process)  2.24e-01           2

### Enrichment for mergedGenes_minExpressed0.990.1Strains1Min1Max18_clustersAX4Louvain0.4m0s1log.tab

In [13]:
regulons=pd.read_table(pathRegulons+'mergedGenes_minExpressed0.990.1Strains1Min1Max18_clustersAX4Louvain0.4m0s1log.tab',index_col=0)
for group in range(1,len(regulons['Cluster'].unique())+1):
    cluster='C'+str(group)
    print('*** Cluster %s (%s)' %(cluster,string.ascii_uppercase[group-1]))
    
    enriched=group_diff_enrichment(data=regulons,group=cluster,min_overlap=2)
    if  save_enrichment and enriched is not None:
        enriched.to_csv(pathRegulons+'enrichment/minExpressed0.990.1Strains1Min1Max18_clustersAX4Louvain0.4m0s1log_enrichment_cluster'+str(group)+'.tsv', sep='\t',index=False)

*** Cluster C1 (A)
***  C1 selected: 31 with EID: 31
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 20 out of 31 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome biogenesis in eukaryotes,"(KEGG, Pathways)",7.70e-19,12
1,nucleolus,"(GO, cellular_component)",9.74e-17,11
2,ribosome biogenesis,"(GO, biological_process)",1.15e-15,10
3,ribonucleoprotein complex assembly,"(GO, biological_process)",5.11e-07,4
4,RNA binding,"(GO, molecular_function)",1.41e-05,6
5,protein-containing complex assembly,"(GO, biological_process)",1.13e-03,4
6,rRNA binding,"(GO, molecular_function)",1.41e-03,2
7,cellular component assembly,"(GO, biological_process)",4.00e-03,4
8,helicase activity,"(GO, molecular_function)",1.68e-02,2
9,methyltransferase activity,"(GO, molecular_function)",1.82e-02,2
10,ATPase activity,"(GO, molecular_function)",9.28e-02,2

*** Cluster C2 (B)
***  C2 selected: 54 with EID: 54
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 26 out of 54 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Oxidative phosphorylation,"(KEGG, Pathways)",8.06e-08,7
1,mitochondrion,"(GO, cellular_component)",8.06e-08,11
2,Metabolic pathways,"(KEGG, Pathways)",1.08e-05,14
3,generation of precursor metabolites and energy,"(GO, biological_process)",1.18e-05,6
4,protein folding,"(GO, biological_process)",1.87e-04,4
5,unfolded protein binding,"(GO, molecular_function)",1.72e-03,3
6,oxidoreductase activity,"(GO, molecular_function)",1.88e-03,6
7,Phagosome,"(KEGG, Pathways)",9.03e-03,3
8,Citrate cycle (TCA cycle),"(KEGG, Pathways)",3.82e-02,2
9,Propanoate metabolism,"(KEGG, Pathways)",3.82e-02,2
10,Ribosome,"(KEGG, Pathways)",3.82e-02,3
11,Carbon metabolism,"(KEGG, Pathways)",4.01e-02,3
12,cytosol,"(GO, cellular_component)",4.37e-02,4
13,transmembrane transporter activity,"(GO, molecular_function)",9.37e-02,3
14,transmembrane transport,"(GO, biological_process)",9.85e-02,3
15,Biosynthesis of secondary metabolites,"(KEGG, Pathways)",9.85e-02,4
16,ligase activity,"(GO, molecular_function)",1.21e-01,2
17,small molecule metabolic process,"(GO, biological_process)",1.42e-01,4
18,vacuole,"(GO, cellular_component)",1.97e-01,2

*** Cluster C3 (C)
***  C3 selected: 54 with EID: 54
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 44 out of 54 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome,"(KEGG, Pathways)",1.13e-86,44
1,ribosome,"(GO, cellular_component)",4.68e-85,43
2,structural constituent of ribosome,"(GO, molecular_function)",8.59e-76,39
3,structural molecule activity,"(GO, molecular_function)",4.25e-69,39
4,translation,"(GO, biological_process)",6.01e-62,39
5,RNA binding,"(GO, molecular_function)",4.62e-10,11
6,rRNA binding,"(GO, molecular_function)",6.82e-07,4

*** Cluster C4 (D)
***  C4 selected: 43 with EID: 43
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 21 out of 43 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cytoskeletal protein binding,"(GO, molecular_function)",2.55e-10,11
1,protein-containing complex assembly,"(GO, biological_process)",5.66e-06,7
2,cytoskeleton organization,"(GO, biological_process)",5.66e-06,8
3,cellular component assembly,"(GO, biological_process)",5.66e-06,8
4,plasma membrane,"(GO, cellular_component)",3.29e-05,8
5,cytoskeleton,"(GO, cellular_component)",3.29e-05,7
6,Endocytosis,"(KEGG, Pathways)",4.91e-05,5
7,response to stress,"(GO, biological_process)",1.58e-03,7
8,cytosol,"(GO, cellular_component)",4.36e-03,5
9,decreased cell motility,"(Dictybase, Phenotypes)",1.37e-02,3
10,cell morphogenesis,"(GO, biological_process)",1.54e-02,2
11,cytoplasmic vesicle,"(GO, cellular_component)",2.99e-02,4
12,aberrant cell morphology,"(Dictybase, Phenotypes)",3.84e-02,2
13,anatomical structure development,"(GO, biological_process)",5.73e-02,5
14,aberrant streaming,"(Dictybase, Phenotypes)",7.39e-02,2
15,reproduction,"(GO, biological_process)",7.45e-02,2
16,wild type,"(Dictybase, Phenotypes)",7.45e-02,4
17,abolished aggregation,"(Dictybase, Phenotypes)",7.45e-02,2
18,vesicle-mediated transport,"(GO, biological_process)",9.01e-02,3
19,mitotic cell cycle,"(GO, biological_process)",9.01e-02,2
20,aberrant cytokinesis,"(Dictybase, Phenotypes)",9.01e-02,2
21,cell division,"(GO, biological_process)",1.05e-01,2
22,decreased growth rate,"(Dictybase, Phenotypes)",1.35e-01,2
23,transmembrane transporter activity,"(GO, molecular_function)",1.51e-01,2
24,transmembrane transport,"(GO, biological_process)",1.52e-01,2
25,cell cycle,"(GO, biological_process)",1.52e-01,2
26,ATPase activity,"(GO, molecular_function)",1.52e-01,2
27,locomotion,"(GO, biological_process)",1.76e-01,2

*** Cluster C5 (E)
***  C5 selected: 20 with EID: 20
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 18 out of 20 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,ribosome,"(GO, cellular_component)",4.29e-33,17
1,Ribosome,"(KEGG, Pathways)",4.70e-33,17
2,structural constituent of ribosome,"(GO, molecular_function)",1.12e-28,15
3,structural molecule activity,"(GO, molecular_function)",1.46e-26,15
4,translation,"(GO, biological_process)",7.52e-22,14
5,rRNA binding,"(GO, molecular_function)",3.78e-06,3
6,RNA binding,"(GO, molecular_function)",1.87e-05,5
7,cytosol,"(GO, cellular_component)",4.00e-05,5
8,ribosome biogenesis,"(GO, biological_process)",3.02e-04,3
9,delayed development,"(Dictybase, Phenotypes)",1.21e-02,2
10,anatomical structure development,"(GO, biological_process)",2.16e-01,2

*** Cluster C6 (F)
***  C6 selected: 49 with EID: 49
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 42 out of 49 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Proteasome,"(KEGG, Pathways)",1.18e-65,29
1,peptidase activity,"(GO, molecular_function)",1.24e-31,21
2,catabolic process,"(GO, biological_process)",1.00e-28,25
3,Protein processing in endoplasmic reticulum,"(KEGG, Pathways)",5.40e-02,3
4,enzyme regulator activity,"(GO, molecular_function)",5.50e-02,3
5,response to stress,"(GO, biological_process)",7.89e-02,5
6,ATPase activity,"(GO, molecular_function)",1.39e-01,3
7,cytoplasmic vesicle,"(GO, cellular_component)",1.94e-01,3
8,endoplasmic reticulum,"(GO, cellular_component)",2.19e-01,2

*** Cluster C7 (G)
***  C7 selected: 96 with EID: 96
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 30 out of 96 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,anatomical structure development,"(GO, biological_process)",2.92e-05,16
1,cell differentiation,"(GO, biological_process)",8.27e-03,7
2,signal transduction,"(GO, biological_process)",1.47e-02,10
3,development arrests at loose mound stage,"(Dictybase, Phenotypes)",1.47e-02,3
4,Glycosaminoglycan degradation,"(KEGG, Pathways)",2.18e-02,2
5,extracellular region,"(GO, cellular_component)",2.47e-02,6
6,aberrant aggregation,"(Dictybase, Phenotypes)",2.47e-02,4
7,increased slug migration,"(Dictybase, Phenotypes)",2.52e-02,2
8,decreased aggregate size,"(Dictybase, Phenotypes)",2.65e-02,3
9,decreased fruiting body size,"(Dictybase, Phenotypes)",3.40e-02,4
10,locomotion,"(GO, biological_process)",3.77e-02,6
11,cell adhesion,"(GO, biological_process)",3.77e-02,4
12,development arrests at tipped mound stage,"(Dictybase, Phenotypes)",3.77e-02,2
13,cell-cell signaling,"(GO, biological_process)",4.22e-02,2
14,plasma membrane,"(GO, cellular_component)",4.22e-02,7
15,phosphatase activity,"(GO, molecular_function)",4.22e-02,3
16,delayed gene expression,"(Dictybase, Phenotypes)",4.22e-02,2
17,development arrests at mound stage,"(Dictybase, Phenotypes)",4.22e-02,3
18,multiple tips in mound,"(Dictybase, Phenotypes)",4.22e-02,2
19,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",4.22e-02,4
20,abolished gene expression,"(Dictybase, Phenotypes)",6.40e-02,2
21,abolished sporulation,"(Dictybase, Phenotypes)",6.40e-02,2
22,cytoskeleton organization,"(GO, biological_process)",7.11e-02,5
23,response to stress,"(GO, biological_process)",7.76e-02,7
24,precocious development,"(Dictybase, Phenotypes)",7.76e-02,2
25,decreased gene expression,"(Dictybase, Phenotypes)",9.08e-02,3
26,decreased chemotaxis rate,"(Dictybase, Phenotypes)",9.17e-02,2
27,peptidase activity,"(GO, molecular_function)",9.34e-02,3
28,aberrant F-actin organization,"(Dictybase, Phenotypes)",9.34e-02,2
29,abolished slug migration,"(Dictybase, Phenotypes)",1.11e-01,2
30,wild type,"(Dictybase, Phenotypes)",1.19e-01,6
31,cytoskeleton,"(GO, cellular_component)",1.34e-01,4
32,aberrant development,"(Dictybase, Phenotypes)",1.37e-01,2
33,decreased sporulation,"(Dictybase, Phenotypes)",1.42e-01,2
34,cellular component assembly,"(GO, biological_process)",1.53e-01,4
35,cell motility,"(GO, biological_process)",1.75e-01,2
36,delayed aggregation,"(Dictybase, Phenotypes)",1.91e-01,2
37,decreased cell motility,"(Dictybase, Phenotypes)",2.03e-01,2
38,abolished aggregation,"(Dictybase, Phenotypes)",2.18e-01,2
39,endosome,"(GO, cellular_component)",2.28e-01,2
40,aberrant culmination,"(Dictybase, Phenotypes)",2.41e-01,2

*** Cluster C8 (H)
***  C8 selected: 35 with EID: 35
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 12 out of 35 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,aberrant CRAC localization to the plasma membrane,"(Dictybase, Phenotypes)",1.13e-02,2
1,development arrests at tipped mound stage,"(Dictybase, Phenotypes)",2.46e-02,2
2,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",3.82e-02,3
3,cell death,"(GO, biological_process)",3.93e-02,2
4,anatomical structure development,"(GO, biological_process)",4.28e-02,5
5,cell differentiation,"(GO, biological_process)",4.28e-02,3
6,RNA degradation,"(KEGG, Pathways)",4.28e-02,2
7,kinase activity,"(GO, molecular_function)",4.28e-02,4
8,aberrant aggregation,"(Dictybase, Phenotypes)",4.28e-02,2
9,decreased chemotaxis to cAMP,"(Dictybase, Phenotypes)",4.28e-02,2
10,locomotion,"(GO, biological_process)",4.43e-02,3
11,decreased fruiting body size,"(Dictybase, Phenotypes)",4.86e-02,2
12,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",6.76e-02,2
13,wild type,"(Dictybase, Phenotypes)",1.11e-01,3
14,cytoskeleton,"(GO, cellular_component)",1.44e-01,2
15,DNA binding,"(GO, molecular_function)",1.79e-01,2

*** Cluster C9 (I)
***  C9 selected: 38 with EID: 38
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 18 out of 38 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell cycle,"(GO, biological_process)",4.90e-14,13
1,chromosome segregation,"(GO, biological_process)",1.94e-10,6
2,mitotic nuclear division,"(GO, biological_process)",7.84e-09,5
3,mitotic cell cycle,"(GO, biological_process)",1.81e-07,7
4,cell division,"(GO, biological_process)",3.20e-07,7
5,DNA replication,"(KEGG, Pathways)",3.20e-07,5
6,chromosome,"(GO, cellular_component)",3.48e-07,6
7,chromosome organization,"(GO, biological_process)",4.26e-07,6
8,cytoskeleton,"(GO, cellular_component)",5.47e-06,7
9,cytoskeleton organization,"(GO, biological_process)",1.20e-03,5
10,microtubule organizing center,"(GO, cellular_component)",1.65e-03,3
11,cytoskeletal protein binding,"(GO, molecular_function)",4.31e-03,4
12,DNA metabolic process,"(GO, biological_process)",7.85e-02,2
13,ATPase activity,"(GO, molecular_function)",1.49e-01,2

*** Cluster C10 (J)
***  C10 selected: 70 with EID: 70
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 12 out of 70 query genes used for enrichment calculation.

               Gene set                  Ontology       FDR  N in query
0  extracellular region  (GO, cellular_component)  1.51e-01           4
1       kinase activity  (GO, molecular_function)  1.51e-01           6
2         cell adhesion  (GO, biological_process)  2.27e-01           2

*** Cluster C11 (K)
***  C11 selected: 85 with EID: 85
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 7 out of 85 query genes used for enrichment calculation.

               Gene set                  Ontology       FDR  N in query
0  extracellular region  (GO, cellular_component)  6.60e-03           7

*** Cluster C12 (L)
***  C12 selected: 73 with EID: 73
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 2 out of 73 query genes used for enrichment calculation.

              Gene set                  Ontology       FDR  N in query
0  cell-cell signaling  (GO, biological_process)  5.50e-02           2

*** Cluster C13 (M)
***  C13 selected: 49 with EID: 49
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 13 out of 49 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell differentiation,"(GO, biological_process)",1.88e-03,6
1,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",8.85e-03,4
2,DNA-binding transcription factor activity,"(GO, molecular_function)",1.19e-02,3
3,anatomical structure development,"(GO, biological_process)",3.44e-02,7
4,decreased gene expression,"(Dictybase, Phenotypes)",4.11e-02,3
5,Starch and sucrose metabolism,"(KEGG, Pathways)",5.22e-02,2
6,DNA binding,"(GO, molecular_function)",6.38e-02,4
7,decreased spore viability,"(Dictybase, Phenotypes)",7.52e-02,2
8,generation of precursor metabolites and energy,"(GO, biological_process)",9.47e-02,2
9,reproduction,"(GO, biological_process)",9.63e-02,2
10,cell adhesion,"(GO, biological_process)",9.70e-02,2
11,cytoskeleton organization,"(GO, biological_process)",9.70e-02,3
12,carbohydrate metabolic process,"(GO, biological_process)",9.75e-02,2
13,signal transduction,"(GO, biological_process)",9.86e-02,4
14,kinase activity,"(GO, molecular_function)",2.11e-01,3

*** Cluster C14 (N)
***  C14 selected: 87 with EID: 87
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 36 out of 87 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell wall,"(GO, cellular_component)",7.40e-09,6
1,external encapsulating structure,"(GO, cellular_component)",7.40e-09,6
2,aberrant spore coat morphology,"(Dictybase, Phenotypes)",3.43e-07,5
3,cell wall organization or biogenesis,"(GO, biological_process)",9.59e-07,5
4,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",1.45e-05,7
5,anatomical structure development,"(GO, biological_process)",1.61e-04,13
6,extracellular region,"(GO, cellular_component)",1.78e-04,8
7,abolished cellulose binding,"(Dictybase, Phenotypes)",5.34e-04,2
8,cell differentiation,"(GO, biological_process)",6.90e-04,7
9,aberrant cell-cell adhesion,"(Dictybase, Phenotypes)",4.22e-03,2
10,Metabolic pathways,"(KEGG, Pathways)",5.66e-03,13
11,decreased spore viability,"(Dictybase, Phenotypes)",5.66e-03,4
12,extracellular matrix,"(GO, cellular_component)",8.96e-03,2
13,cellular component assembly,"(GO, biological_process)",5.67e-02,5
14,Glutathione metabolism,"(KEGG, Pathways)",5.67e-02,2
15,Biosynthesis of secondary metabolites,"(KEGG, Pathways)",5.67e-02,6
16,hydrolase activity,"(GO, molecular_function)",5.67e-02,2
17,Citrate cycle (TCA cycle),"(KEGG, Pathways)",7.03e-02,2
18,Starch and sucrose metabolism,"(KEGG, Pathways)",7.03e-02,2
19,cytoskeletal protein binding,"(GO, molecular_function)",8.18e-02,4
20,Glyoxylate and dicarboxylate metabolism,"(KEGG, Pathways)",8.67e-02,2
21,catabolic process,"(GO, biological_process)",9.30e-02,5
22,Carbon metabolism,"(KEGG, Pathways)",9.30e-02,3
23,plasma membrane,"(GO, cellular_component)",1.04e-01,5
24,structural molecule activity,"(GO, molecular_function)",1.20e-01,3
25,cytosol,"(GO, cellular_component)",1.30e-01,4
26,DNA binding,"(GO, molecular_function)",1.58e-01,4
27,abolished culmination,"(Dictybase, Phenotypes)",1.58e-01,2
28,lyase activity,"(GO, molecular_function)",1.72e-01,2
29,transmembrane transporter activity,"(GO, molecular_function)",1.74e-01,3
30,carbohydrate metabolic process,"(GO, biological_process)",2.37e-01,2
31,aberrant culmination,"(Dictybase, Phenotypes)",2.37e-01,2

*** Cluster C15 (O)
***  C15 selected: 31 with EID: 31
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 0 out of 31 query genes used for enrichment calculation.

None

*** Cluster C16 (P)
***  C16 selected: 72 with EID: 72
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 10 out of 72 query genes used for enrichment calculation.

               Gene set                  Ontology       FDR  N in query
0  extracellular region  (GO, cellular_component)  5.91e-07          10

*** Cluster C17 (Q)
***  C17 selected: 57 with EID: 56
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 6 out of 56 query genes used for enrichment calculation.

                    Gene set                  Ontology       FDR  N in query
0              cell adhesion  (GO, biological_process)  1.23e-02           4
1  decreased spore viability   (Dictybase, Phenotypes)  1.80e-01           2

*** Cluster C18 (R)
***  C18 selected: 65 with EID: 63
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 8 out of 63 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell wall,"(GO, cellular_component)",1.83e-02,2
1,external encapsulating structure,"(GO, cellular_component)",1.83e-02,2
2,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",4.02e-02,3
3,hydrolase activity,"(GO, molecular_function)",1.05e-01,2
4,cell differentiation,"(GO, biological_process)",1.20e-01,3
5,lipid binding,"(GO, molecular_function)",1.20e-01,2
6,extracellular region,"(GO, cellular_component)",1.25e-01,3

*** Cluster C19 (S)
***  C19 selected: 89 with EID: 88
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 10 out of 88 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,extracellular region,"(GO, cellular_component)",2.53e-03,7
1,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",1.90e-02,4
2,cell differentiation,"(GO, biological_process)",1.02e-01,4
3,Starch and sucrose metabolism,"(KEGG, Pathways)",1.02e-01,2

*** Cluster C20 (T)
***  C20 selected: 1 with EID: 1
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 0 out of 1 query genes used for enrichment calculation.

None

#### Using only genes annotated with at least one gene set

In [14]:
regulons=pd.read_table(pathRegulons+'mergedGenes_minExpressed0.990.1Strains1Min1Max18_clustersAX4Louvain0.4m0s1log.tab',index_col=0)
for group in range(1,len(regulons['Cluster'].unique())+1):
    cluster='C'+str(group)
    print('*** Cluster %s (%s)' %(cluster,string.ascii_uppercase[group-1]))

    enriched=group_diff_enrichment(data=regulons,group=cluster,min_overlap=2,use_annotated_genes=True)
    if save_enrichment and enriched is not None:
        enriched.to_csv(pathRegulons+'enrichment/mergedGenes_minExpressed0.990.1Strains1Min1Max18_clustersAX4Louvain0.4m0s1log.tab'+str(group)+'.tsv', sep='\t',index=False)

*** Cluster C1 (A)
***  C1 selected: 31 with EID: 31
Ratio of genes annotated with a gene set in reference 0.32 and query 0.71
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 20 out of 22 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome biogenesis in eukaryotes,"(KEGG, Pathways)",3.06e-15,12
1,nucleolus,"(GO, cellular_component)",2.21e-13,11
2,ribosome biogenesis,"(GO, biological_process)",1.46e-12,10
3,ribonucleoprotein complex assembly,"(GO, biological_process)",1.12e-05,4
4,RNA binding,"(GO, molecular_function)",1.01e-03,6
5,rRNA binding,"(GO, molecular_function)",7.85e-03,2
6,protein-containing complex assembly,"(GO, biological_process)",1.70e-02,4
7,cellular component assembly,"(GO, biological_process)",6.15e-02,4
8,helicase activity,"(GO, molecular_function)",7.53e-02,2
9,methyltransferase activity,"(GO, molecular_function)",8.04e-02,2

*** Cluster C2 (B)
***  C2 selected: 54 with EID: 54
Ratio of genes annotated with a gene set in reference 0.32 and query 0.57
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 26 out of 31 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Oxidative phosphorylation,"(KEGG, Pathways)",6.02e-06,7
1,mitochondrion,"(GO, cellular_component)",1.47e-05,11
2,generation of precursor metabolites and energy,"(GO, biological_process)",3.68e-04,6
3,protein folding,"(GO, biological_process)",2.08e-03,4
4,Metabolic pathways,"(KEGG, Pathways)",2.08e-03,14
5,unfolded protein binding,"(GO, molecular_function)",9.12e-03,3
6,oxidoreductase activity,"(GO, molecular_function)",3.29e-02,6
7,Phagosome,"(KEGG, Pathways)",4.52e-02,3
8,Citrate cycle (TCA cycle),"(KEGG, Pathways)",1.22e-01,2
9,Propanoate metabolism,"(KEGG, Pathways)",1.23e-01,2
10,Ribosome,"(KEGG, Pathways)",1.73e-01,3
11,Carbon metabolism,"(KEGG, Pathways)",1.80e-01,3
12,cytosol,"(GO, cellular_component)",2.49e-01,4

*** Cluster C3 (C)
***  C3 selected: 54 with EID: 54
Ratio of genes annotated with a gene set in reference 0.32 and query 0.89
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 44 out of 48 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,Ribosome,"(KEGG, Pathways)",7.37e-70,44
1,ribosome,"(GO, cellular_component)",2.11e-68,43
2,structural constituent of ribosome,"(GO, molecular_function)",4.10e-60,39
3,structural molecule activity,"(GO, molecular_function)",1.96e-53,39
4,translation,"(GO, biological_process)",2.61e-46,39
5,RNA binding,"(GO, molecular_function)",1.31e-05,11
6,rRNA binding,"(GO, molecular_function)",3.86e-05,4

*** Cluster C4 (D)
***  C4 selected: 43 with EID: 43
Ratio of genes annotated with a gene set in reference 0.32 and query 0.51
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 20 out of 22 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cytoskeletal protein binding,"(GO, molecular_function)",8.80e-09,11
1,protein-containing complex assembly,"(GO, biological_process)",1.02e-04,7
2,cytoskeleton organization,"(GO, biological_process)",1.02e-04,8
3,cellular component assembly,"(GO, biological_process)",1.02e-04,8
4,Endocytosis,"(KEGG, Pathways)",4.42e-04,5
5,cytoskeleton,"(GO, cellular_component)",4.42e-04,7
6,plasma membrane,"(GO, cellular_component)",4.85e-04,8
7,response to stress,"(GO, biological_process)",1.83e-02,7
8,cytosol,"(GO, cellular_component)",2.92e-02,5
9,cell morphogenesis,"(GO, biological_process)",4.15e-02,2
10,decreased cell motility,"(Dictybase, Phenotypes)",4.39e-02,3
11,aberrant cell morphology,"(Dictybase, Phenotypes)",8.18e-02,2
12,cytoplasmic vesicle,"(GO, cellular_component)",9.52e-02,4
13,aberrant streaming,"(Dictybase, Phenotypes)",1.55e-01,2
14,reproduction,"(GO, biological_process)",1.65e-01,2
15,abolished aggregation,"(Dictybase, Phenotypes)",1.65e-01,2
16,anatomical structure development,"(GO, biological_process)",1.85e-01,5
17,aberrant cytokinesis,"(Dictybase, Phenotypes)",2.02e-01,2
18,mitotic cell cycle,"(GO, biological_process)",2.02e-01,2
19,wild type,"(Dictybase, Phenotypes)",2.08e-01,4
20,vesicle-mediated transport,"(GO, biological_process)",2.33e-01,3
21,cell division,"(GO, biological_process)",2.33e-01,2

*** Cluster C5 (E)
***  C5 selected: 20 with EID: 20
Ratio of genes annotated with a gene set in reference 0.32 and query 0.9
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 18 out of 18 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,ribosome,"(GO, cellular_component)",1.90e-26,17
1,Ribosome,"(KEGG, Pathways)",2.08e-26,17
2,structural constituent of ribosome,"(GO, molecular_function)",1.64e-22,15
3,structural molecule activity,"(GO, molecular_function)",2.10e-20,15
4,translation,"(GO, biological_process)",4.95e-16,14
5,rRNA binding,"(GO, molecular_function)",8.19e-05,3
6,RNA binding,"(GO, molecular_function)",2.35e-03,5
7,cytosol,"(GO, cellular_component)",4.72e-03,5
8,ribosome biogenesis,"(GO, biological_process)",5.99e-03,3
9,delayed development,"(Dictybase, Phenotypes)",8.51e-02,2

*** Cluster C6 (F)
***  C6 selected: 49 with EID: 49
Ratio of genes annotated with a gene set in reference 0.32 and query 0.94
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 35 out of 46 query genes used for enrichment calculation.

             Gene set                  Ontology       FDR  N in query
0          Proteasome          (KEGG, Pathways)  1.89e-52          29
1  peptidase activity  (GO, molecular_function)  4.56e-22          21
2   catabolic process  (GO, biological_process)  1.37e-17          25

*** Cluster C7 (G)
***  C7 selected: 96 with EID: 96
Ratio of genes annotated with a gene set in reference 0.32 and query 0.39
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 30 out of 37 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,anatomical structure development,"(GO, biological_process)",7.38e-05,16
1,cell differentiation,"(GO, biological_process)",2.01e-02,7
2,signal transduction,"(GO, biological_process)",3.13e-02,10
3,Glycosaminoglycan degradation,"(KEGG, Pathways)",3.13e-02,2
4,development arrests at loose mound stage,"(Dictybase, Phenotypes)",3.13e-02,3
5,aberrant aggregation,"(Dictybase, Phenotypes)",4.17e-02,4
6,increased slug migration,"(Dictybase, Phenotypes)",4.17e-02,2
7,extracellular region,"(GO, cellular_component)",4.34e-02,6
8,decreased aggregate size,"(Dictybase, Phenotypes)",4.34e-02,3
9,development arrests at tipped mound stage,"(Dictybase, Phenotypes)",6.03e-02,2
10,decreased fruiting body size,"(Dictybase, Phenotypes)",6.03e-02,4
11,locomotion,"(GO, biological_process)",6.20e-02,6
12,cell-cell signaling,"(GO, biological_process)",6.20e-02,2
13,cell adhesion,"(GO, biological_process)",6.20e-02,4
14,plasma membrane,"(GO, cellular_component)",6.46e-02,7
15,phosphatase activity,"(GO, molecular_function)",6.46e-02,3
16,delayed gene expression,"(Dictybase, Phenotypes)",6.46e-02,2
17,multiple tips in mound,"(Dictybase, Phenotypes)",6.46e-02,2
18,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",6.58e-02,4
19,development arrests at mound stage,"(Dictybase, Phenotypes)",6.77e-02,3
20,abolished gene expression,"(Dictybase, Phenotypes)",9.01e-02,2
21,abolished sporulation,"(Dictybase, Phenotypes)",9.01e-02,2
22,precocious development,"(Dictybase, Phenotypes)",1.06e-01,2
23,cytoskeleton organization,"(GO, biological_process)",1.15e-01,5
24,response to stress,"(GO, biological_process)",1.23e-01,7
25,decreased gene expression,"(Dictybase, Phenotypes)",1.23e-01,3
26,decreased chemotaxis rate,"(Dictybase, Phenotypes)",1.23e-01,2
27,aberrant F-actin organization,"(Dictybase, Phenotypes)",1.23e-01,2
28,peptidase activity,"(GO, molecular_function)",1.36e-01,3
29,abolished slug migration,"(Dictybase, Phenotypes)",1.54e-01,2
30,aberrant development,"(Dictybase, Phenotypes)",1.89e-01,2
31,decreased sporulation,"(Dictybase, Phenotypes)",1.96e-01,2
32,cytoskeleton,"(GO, cellular_component)",1.97e-01,4
33,wild type,"(Dictybase, Phenotypes)",1.97e-01,6
34,cellular component assembly,"(GO, biological_process)",2.18e-01,4
35,cell motility,"(GO, biological_process)",2.28e-01,2

*** Cluster C8 (H)
***  C8 selected: 35 with EID: 35
Ratio of genes annotated with a gene set in reference 0.32 and query 0.4
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 12 out of 14 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,aberrant CRAC localization to the plasma membrane,"(Dictybase, Phenotypes)",1.70e-02,2
1,development arrests at tipped mound stage,"(Dictybase, Phenotypes)",3.69e-02,2
2,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",4.93e-02,3
3,cell death,"(GO, biological_process)",4.93e-02,2
4,anatomical structure development,"(GO, biological_process)",5.87e-02,5
5,cell differentiation,"(GO, biological_process)",5.87e-02,3
6,RNA degradation,"(KEGG, Pathways)",5.87e-02,2
7,aberrant aggregation,"(Dictybase, Phenotypes)",5.87e-02,2
8,decreased chemotaxis to cAMP,"(Dictybase, Phenotypes)",5.87e-02,2
9,kinase activity,"(GO, molecular_function)",6.47e-02,4
10,locomotion,"(GO, biological_process)",6.82e-02,3
11,decreased fruiting body size,"(Dictybase, Phenotypes)",6.82e-02,2
12,aberrant fruiting body morphology,"(Dictybase, Phenotypes)",9.09e-02,2
13,wild type,"(Dictybase, Phenotypes)",1.71e-01,3
14,cytoskeleton,"(GO, cellular_component)",1.99e-01,2
15,DNA binding,"(GO, molecular_function)",2.44e-01,2

*** Cluster C9 (I)
***  C9 selected: 38 with EID: 38
Ratio of genes annotated with a gene set in reference 0.32 and query 0.5
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 18 out of 19 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell cycle,"(GO, biological_process)",7.55e-13,13
1,chromosome segregation,"(GO, biological_process)",1.80e-09,6
2,mitotic nuclear division,"(GO, biological_process)",5.47e-08,5
3,mitotic cell cycle,"(GO, biological_process)",2.07e-06,7
4,DNA replication,"(KEGG, Pathways)",2.46e-06,5
5,cell division,"(GO, biological_process)",3.13e-06,7
6,chromosome,"(GO, cellular_component)",3.13e-06,6
7,chromosome organization,"(GO, biological_process)",3.83e-06,6
8,cytoskeleton,"(GO, cellular_component)",5.96e-05,7
9,microtubule organizing center,"(GO, cellular_component)",6.16e-03,3
10,cytoskeleton organization,"(GO, biological_process)",6.60e-03,5
11,cytoskeletal protein binding,"(GO, molecular_function)",1.64e-02,4
12,DNA metabolic process,"(GO, biological_process)",1.71e-01,2

*** Cluster C10 (J)
***  C10 selected: 70 with EID: 70
Ratio of genes annotated with a gene set in reference 0.32 and query 0.26
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 12 out of 18 query genes used for enrichment calculation.

               Gene set                  Ontology       FDR  N in query
0  extracellular region  (GO, cellular_component)  6.02e-02           4
1       kinase activity  (GO, molecular_function)  6.02e-02           6
2         cell adhesion  (GO, biological_process)  1.81e-01           2

*** Cluster C11 (K)
***  C11 selected: 85 with EID: 85
Ratio of genes annotated with a gene set in reference 0.32 and query 0.24
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 7 out of 20 query genes used for enrichment calculation.

               Gene set                  Ontology       FDR  N in query
0  extracellular region  (GO, cellular_component)  4.58e-04           7

*** Cluster C12 (L)
***  C12 selected: 73 with EID: 73
Ratio of genes annotated with a gene set in reference 0.32 and query 0.11
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 5 out of 8 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell-cell signaling,"(GO, biological_process)",5.99e-03,2
1,anatomical structure development,"(GO, biological_process)",5.14e-02,4
2,extracellular region,"(GO, cellular_component)",1.32e-01,2
3,signal transduction,"(GO, biological_process)",2.33e-01,2
4,wild type,"(Dictybase, Phenotypes)",2.33e-01,2

*** Cluster C13 (M)
***  C13 selected: 49 with EID: 49
Ratio of genes annotated with a gene set in reference 0.32 and query 0.31
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 13 out of 15 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell differentiation,"(GO, biological_process)",7.39e-04,6
1,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",5.78e-03,4
2,DNA-binding transcription factor activity,"(GO, molecular_function)",9.24e-03,3
3,anatomical structure development,"(GO, biological_process)",1.26e-02,7
4,decreased gene expression,"(Dictybase, Phenotypes)",3.28e-02,3
5,Starch and sucrose metabolism,"(KEGG, Pathways)",4.63e-02,2
6,DNA binding,"(GO, molecular_function)",5.80e-02,4
7,decreased spore viability,"(Dictybase, Phenotypes)",7.22e-02,2
8,reproduction,"(GO, biological_process)",8.49e-02,2
9,generation of precursor metabolites and energy,"(GO, biological_process)",8.49e-02,2
10,cytoskeleton organization,"(GO, biological_process)",8.49e-02,3
11,signal transduction,"(GO, biological_process)",8.74e-02,4
12,cell adhesion,"(GO, biological_process)",8.74e-02,2
13,carbohydrate metabolic process,"(GO, biological_process)",8.97e-02,2
14,kinase activity,"(GO, molecular_function)",1.85e-01,3
15,locomotion,"(GO, biological_process)",2.38e-01,2
16,cellular component assembly,"(GO, biological_process)",2.47e-01,2

*** Cluster C14 (N)
***  C14 selected: 87 with EID: 87
Ratio of genes annotated with a gene set in reference 0.32 and query 0.45
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 34 out of 39 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,cell wall,"(GO, cellular_component)",4.51e-08,6
1,external encapsulating structure,"(GO, cellular_component)",4.51e-08,6
2,aberrant spore coat morphology,"(Dictybase, Phenotypes)",1.60e-06,5
3,cell wall organization or biogenesis,"(GO, biological_process)",4.46e-06,5
4,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",1.03e-04,7
5,abolished cellulose binding,"(Dictybase, Phenotypes)",1.39e-03,2
6,extracellular region,"(GO, cellular_component)",1.43e-03,8
7,anatomical structure development,"(GO, biological_process)",1.95e-03,13
8,cell differentiation,"(GO, biological_process)",4.40e-03,7
9,aberrant cell-cell adhesion,"(Dictybase, Phenotypes)",8.17e-03,2
10,extracellular matrix,"(GO, cellular_component)",1.87e-02,2
11,decreased spore viability,"(Dictybase, Phenotypes)",1.87e-02,4
12,Metabolic pathways,"(KEGG, Pathways)",5.39e-02,13
13,Glutathione metabolism,"(KEGG, Pathways)",1.08e-01,2
14,hydrolase activity,"(GO, molecular_function)",1.08e-01,2
15,Citrate cycle (TCA cycle),"(KEGG, Pathways)",1.32e-01,2
16,Starch and sucrose metabolism,"(KEGG, Pathways)",1.35e-01,2
17,cellular component assembly,"(GO, biological_process)",1.51e-01,5
18,Glyoxylate and dicarboxylate metabolism,"(KEGG, Pathways)",1.54e-01,2
19,Biosynthesis of secondary metabolites,"(KEGG, Pathways)",1.62e-01,6
20,cytoskeletal protein binding,"(GO, molecular_function)",1.88e-01,4
21,Carbon metabolism,"(KEGG, Pathways)",2.08e-01,3

*** Cluster C15 (O)
***  C15 selected: 31 with EID: 31
Ratio of genes annotated with a gene set in reference 0.32 and query 0.26
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 2 out of 8 query genes used for enrichment calculation.

                  Gene set                  Ontology       FDR  N in query
0  oxidoreductase activity  (GO, molecular_function)  2.31e-01           2

*** Cluster C16 (P)
***  C16 selected: 72 with EID: 72
Ratio of genes annotated with a gene set in reference 0.32 and query 0.25
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 12 out of 18 query genes used for enrichment calculation.

               Gene set                  Ontology       FDR  N in query
0  extracellular region  (GO, cellular_component)  6.66e-09          10
1             wild type   (Dictybase, Phenotypes)  1.98e-01           5

*** Cluster C17 (Q)
***  C17 selected: 57 with EID: 56
Ratio of genes annotated with a gene set in reference 0.32 and query 0.2
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 6 out of 11 query genes used for enrichment calculation.

                    Gene set                  Ontology       FDR  N in query
0              cell adhesion  (GO, biological_process)  1.25e-03           4
1  decreased spore viability   (Dictybase, Phenotypes)  1.12e-01           2

*** Cluster C18 (R)
***  C18 selected: 65 with EID: 63
Ratio of genes annotated with a gene set in reference 0.32 and query 0.14
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 8 out of 9 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",3.13e-03,3
1,cell wall,"(GO, cellular_component)",3.13e-03,2
2,external encapsulating structure,"(GO, cellular_component)",3.13e-03,2
3,cell differentiation,"(GO, biological_process)",1.39e-02,3
4,extracellular region,"(GO, cellular_component)",1.39e-02,3
5,hydrolase activity,"(GO, molecular_function)",1.39e-02,2
6,lipid binding,"(GO, molecular_function)",2.02e-02,2
7,anatomical structure development,"(GO, biological_process)",2.87e-02,4
8,protein transport,"(GO, biological_process)",1.23e-01,2

*** Cluster C19 (S)
***  C19 selected: 89 with EID: 88
Ratio of genes annotated with a gene set in reference 0.32 and query 0.2
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 10 out of 18 query genes used for enrichment calculation.

,Gene set,Ontology,FDR,N in query
0,extracellular region,"(GO, cellular_component)",6.19e-05,7
1,anatomical structure formation involved in morphogenesis,"(GO, biological_process)",2.89e-03,4
2,cell differentiation,"(GO, biological_process)",2.41e-02,4
3,Starch and sucrose metabolism,"(KEGG, Pathways)",4.25e-02,2

*** Cluster C20 (T)
***  C20 selected: 1 with EID: 1
Ratio of genes annotated with a gene set in reference 0.32 and query 0.0
Enrichment at FDR: 0.25 and min query - gene set overlap 2
N query genes in displayed gene sets: 0 out of 0 query genes used for enrichment calculation.

None